[viewBag]
==


{% if price is not null %}

<div class="col-sm-12">
   
    <div class="card card-single text-center">
        <div class="card-body">
            {% if price > 0 %}
            <p>PRECIO: {{price}} USD</p> 
            <a href="#" class="btn btn-sm btn-primary" id="add-to-cart">Añadir al carrito</a>
            {% else %}
            <p>Precio no disponible</p>
            <small>intenta otra fecha u otro tipo de paseo</small>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}