[ProductData]

[CartSessionList]
flash_on = 1

==

{% set arChargelist = CartSessionList.getSessionCartList() %}

    <div class="col-md-12">
        <h4 class="text-center">Tu Selección</h4>
    </div>
{% if arChargelist != null %}

{% set total = 0%}

{% for charge in arChargelist %}
{% set product = ProductData.get(charge["product_id"]) %}

<div class="card mb-3">
    <div class="row no-gutters">
       
      <div class="col-md-4">
        <img src="{{product.preview_image.path}}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{charge["name"]|upper}}</h5>
          <div class="card-text">
              <ul>
                  <li><p class="info-item"><b>Destino: </b> {{charge["destination"]}}</p></li>
                  <li><p class="info-item"><b>Fecha: </b> {{charge["dates"]}}</p></li>
                  <li><p class="info-item"><b>Tipo: </b> {{charge["bookingType"]}}</p></li>
                  <li><p class="info-item"><b>Precio: </b>{{CartSessionList.moneyFormat(charge["price"])}} USD</li>
                  
              </ul> 
          </div>
              
        </div>
      </div>
    </div>
  </div>

{% set total = total + charge["price"] %}
{% endfor %}

{% else %}
<div class="card border-info mb-3">
  
  <div class="card-body text-info text-center">
    <h5 class="card-title">Tu carrito está vacío</h5>
    <p class="card-text">Añade alguno de nuestros productos y servicios para poder continuar con tu compra</p>
  </div>
</div>
{% endif %}
