[ProductPage]
slug = "{{ :slug }}"
slug_required = 0
smart_url_check = 0
skip_error = 0

[viewBag]
==
{% if obProduct == null %}
    {% set obProductPage = ProductPage.get() %}
    {% set obProduct = obProductPage.getObject() %}
{% endif %}

{% set calendar = obProduct.calendars.first() %}
{% set firstDate = calendar.getFirstDate() %}
{% set lastDate = calendar.getLastDate() %}
{% set alldates = calendar.getAllDates() %}

{% set single = 'false' %}

{% if bookingMultidate == 0 %}

{% set single = 'true' %}

{% endif %}
{% if lastDate %}
<script>
    $(function() {
        const validDates = {
        {% for date in alldates %}
        '{{loop.index}}': {
                'date': '{{date.date}}',
                'quantity': {{date.quantity}},
        
            },
        {% endfor %}
        }
        $('.datepicker-input-boat').daterangepicker({

       "minDate": '{{ firstDate.date|date("d-m-Y") }}',
       "maxDate": '{{ lastDate.date|date("d-m-Y") }}',
       "locale": {
        "format": "DD-MM-YYYY",
        "separator": " - ",
        "applyLabel": "Aplicar",
        "cancelLabel": "Cancelar",
        "fromLabel": "Desde",
        "toLabel": "Hasta",
        "customRangeLabel": "Custom",
        "weekLabel": "S",
        "daysOfWeek": [
            "Do",
            "Lu",
            "Ma",
            "Mi",
            "Ju",
            "Vi",
            "Sa"
        ],
        "monthNames": [
            "Enero",
            "Febrero",
            "Marzo",
            "Abril",
            "Mayo",
            "Junio",
            "Julio",
            "Agosto",
            "Septiembre",
            "Octubre",
            "Noviembre",
            "Diciembre"
        ],
        "firstDay": 1
    },
        "singleDatePicker": {{single}},
        isInvalidDate: function(date) {
            
            var flag = true;

            for (const index in validDates){
                if (date.format('YYYY-MM-DD') == validDates[index].date) {
                flag = false; 
                }
            }
               
            return flag;
        }
        });
    });

    </script>

    <div class="">
        <label for="dates">Elige la fecha disfrute</label>
        <input type="text" class="form-control datepicker-input-boat" id="datepicker-input-boat"  name="dates"  required>
    </div>
{% else %}

    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sin fechas disnponibles</h5>
          <p class="card-text">De momento la embarcación no está disponible para rentar,
               para mas información te invitamos a escribir por nuestro chat</p>
          
        </div>
      </div>
    </div>

 

{% endif %}
