[UserData]

[BoatBookingHandler]

[BackendUserHandler]

==
{% set phoneCodes = BoatBookingHandler.getPhoneCodes() %}

{% set obUser = BackendUserHandler.getBackendUser() %}

{% if obUser == null %}
    {% set obUser = UserData.get %}
{% endif %}

{% set organicUser = false %}

{% if obUser.role == null %}
    {% set organicUser = true %}
{% endif %}

<div class="col-md-12">
    <h4 class="text-center">Información de cliente</h4>
</div>
<form class="rent-form" id="order-form">
    <div class="row mb-2">
      <div class="col-sm-12 col-md-6">
        <label>Nombre</label>
        <input type="text" class="form-control" value="{{organicUser == true ? obUser.name}}"
        name="name" placeholder="Ej: Pedro">
      </div>
      <div class="col-sm-12 col-md-6">
        <label >Apellido</label>
        <input type="text" class="form-control" value="{{organicUser == true ? obUser.last_name}}" 
        name="last_name" placeholder="Ej: Perez">
      </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-12 col-md-6">
            <label >Documento de identidad</label>
            {% set document =  obUser.property.document|split("-") %}
            
            <div class="input-group ">
                <div class="input-group-prepend">
                  
                    <select class="custom-select" value="{{document[0]}}" name="document_code">
                        <option value="V">V</option>
                        <option value="E">E</option>
                        <option value="P">P</option>
                        <option value="J">J</option>
                      </select>
                </div>
                <input type="text" class="form-control" value="{{document[1]}}" name="document"
                 placeholder="Ej: 123456">
              </div>
        </div>
        <div class="col-sm-12 col-md-6 bootstrap-select-container">
            <label >Teléfono</label>
            {% set phone =  obUser.phone|split("-") %}
            <div class="input-group ">
                <div class="input-group-prepend">
                
                    <select class="custom-select" id="country-codes" name="country_code" 
                    data-live-search="true" >
                      {% for codes in phoneCodes %}
                        {% if phone|length < 2 %}
                            <option value="+{{codes.callingCodes[0]}}" {{codes.callingCodes[0] == '58' ? 'selected' }}>+{{codes.callingCodes[0]}}</option>
                        {% else %}
                            <option value="+{{codes.callingCodes[0]}}" {{codes.callingCodes[0] == phone[0] ? 'selected' }}>+{{codes.callingCodes[0]}}</option>
                        {% endif %}

                      {% endfor %}
                      </select>
                </div>
                <input type="text" class="form-control" value="{{phone[1]}}" name="phone"
                 placeholder="Teléfono">
              </div>
        </div>
      </div>
      {% if organicUser == false %}
      <div class="row mb-2">
        <div class="col">
            <label >Email</label>
            <div class="input-group ">
                <input type="text" class="form-control" name="email" placeholder="pedroperez@email.com">
                
              </div> 
              <small id="emailhelptext" class="form-text text-muted">
                Si el usuario no está registrado se creará uno nuevo y con contraseña <b>RTY2020</b>
              </small>
        </div>
      </div>
      {% endif %}
       <hr>
      <h5 class="text-center">Datos de abordaje</h5>
      {#
      <div class="row mb-2">
        <div class="col">
          <label >Número de niños</label>
          <input type="number" class="form-control" placeholder="Ej: 1">
        </div>
        <div class="col">
          <label >Adultos</label>
          <input type="text" class="form-control" placeholder="Ej: 2">
        </div>
      </div>
      #}
      <div class="row mb-2">
        <div class="col">
            <label >Comentarios</label>
            <textarea class="form-control" name="comments" rows="3" placeholder="Ej: 3 adultos y 2 niños"></textarea>
            <small id="boardingtext" class="form-text text-muted">
                Completa aquí cuantas personas irán al paseo y cualquier información que considere 
                debamos tener en cuenta
              </small>
          </div>
      </div>

      <div class="row mb-2">
        <button type="submit" id="order-button" class="btn btn-filled">Enviar</button>

      </div>
  </form>