<section class="page-feature py-5">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <h1 class=" text-left">{{obCategory ? obCategory.name : this.page.title}}</h1>
            </div>
            <div class="col-md-6">
                <div class="breadcrumb text-right">
                    <a href="{{'index'|staticPage}}"><i class="ti-home"></i> Home</a>
                    {% for arItem in arBreadcrumbs %}

                        {% if arItem.active == false %}
                            <a href="{{ 'categoria'|page({slug: arItem.slug }) }}">/ {{ arItem.name }}</a>
                        {% else %}
                            <span>/ {{ arItem.name }}</span>
                        {% endif %}
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</section>