description = "Cart"

[viewBag]

[CartSessionList]
==
{% set arChargelist = CartSessionList.getSessionCartList() %}
<div id="cart" class="cart">
  <div class="head">
    <button id="close-cart" class="close-cart btn btn-transparent">
      <span class="close-item"></span>
      <span class="close-item"></span>
    </button>
    <!--<div class="tabs">
      <button class="tab btn active">Reservas</button>
      <button class="tab btn">Cupones</button>
    </div>-->
  </div>
  <div class="items">
    <p class="title">Tu selección</p>
    {% if arChargelist != null %}
    {% set total = 0%}
    {% for charge in arChargelist %}
    {% set total = total + charge["price"] %}
    <div class="item">
        <div class="single-course mb-0">
          <button class="btn remove remove-from-cart" data-index="{{loop.index0}}">
            <i class="ti-trash"></i>
          </button>
          
          <div class="course-content">
            <h3><a href="#">{{charge["name"]}}</a></h3>
            <hr class="my-2">
            <div class="info">
              <p class="info-item"><span>Destino:</span> {{charge["destination"]}}</p>
              <p class="info-item"><span>Fecha:</span> {{charge["dates"]}}</p>
              <p class="info-item"><span>Tipo:</span> {{charge["bookingType"]}}</p>
            </div>
            <div class="foot">
              <p class="price">{{CartSessionList.moneyFormat(charge["price"])}} USD</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="item">
       

        <h6 class="text-center mt-1">Total: {{CartSessionList.moneyFormat(total)}} USD</h6>
      </div>
      <div class="foot text-center mt-4">
        {#<button class="btn btn-transparent">Limpiar</button>#}
        <a class="btn buy" href="{{'cart'|page}}">Alquilar</a>
      </div>
    {% else %}
    <div class="col-md-12">
      <div class="card card-single text-center">
        <div class="card-body">
           
            <p>Tu carrito está vacío</p>
            <small>Añade tantas embarcaciones como desees</small>
        </div>
     </div>
    </div>
   

    {% endif %}
    {% for pageItem in [0,1] %}
      
    {% endfor %}
  </div>
  
</div>