[viewBag]
==
<h4 class="tab-title">Condiciones para alquiler</h4>
<ul>
    <li><i class="ti-control-record"></i>El horario de embarque queda establecido desde las
10:00am y la hora del retorno a las 17:00 hrs (05:00 pm). </li>
    <li><i class="ti-control-record"></i>El horario de embarque para la pernocta queda establecido desde las 05:30pm y la hora del retorno a las 07:00am.</li>
    <li><i class="ti-control-record"></i>Las únicas personas autorizadas a manejar la embarcación son; el capitán y el marino, los mismos, tienen el
deber y el compromiso de acompañar a los pasajeros,
cuidar la embarcación, y brindar seguridad al pasajero
a bordo. </li>
    <li><i class="ti-control-record"></i>Las embarcaciones son de uso exclusivo de los contratantes, según fecha y hora establecida, entiéndase;
pasajeros.</li>
</ul>