

<div class="widget">
    <h3 class="widget-title">¿Te interesa comprar esta embarcación?</h3>
    <h5> PRECIO {{offer.price}} USD</h5>
    <p>Escribe en nuestro chat y te asistiremos de imnediato
    </p>
    {#
    <form id="contact-form" >        
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="first_name">Nombre</label>
                <input type="text" class="form-control" name="user[name]" id="first_name" placeholder="Nombre" required>
            </div>
            <div class="form-group col-sm-6">
                <label for="last_name">Apellido</label>
                <input type="text" class="form-control"  name="user[lastname]" id="last_name" placeholder="Apellido" required>
            </div>
            <div class="form-group col-sm-6">
                <label for="email">Correo electrónico</label>
                <input type="email" class="form-control"   name="user[email]" id="email" placeholder="Correo electrónico" required>
            </div>
            <div class="form-group col-sm-6">
                <label for="phone">Teléfono</label>
                <input type="text" class="form-control"  name="user[phone]" id="phone" placeholder="Teléfono" required>
            </div>
        </div>
        <button type="submit" class="btn btn-filled">Enviar</button>
    </form>
    #}
</div>
