
[viewBag]
searchParam = "{{:q}}"
==

{% if obProductList %}
    {% set brandsRes = getBrandsFromResult(obProductList) %}

    {% if base == "category" %}
        {% set obCategory = CategoryPage.get() %}

    {% elseif base == "promo" %}
        {% set obPromoBlock = PromoBlockPage.get() %}

    {% elseif base == "brand" %}
        {% set obBrand = BrandPage.get() %}
    {% endif %}

    <div class="card-content">
        <form action="#" class="filter-form" data-type="{{base}}">
            <input type="hidden" name="base" value="{{base}}">

            {% if base == "category" %}
                <input type="hidden" name="basev" value="{{obCategory.id}}">
            {% elseif base == "promo" %}
                <input type="hidden" name="basev" value="{{obPromoBlock.id}}">
            
            {% elseif base == "brand" %}
                <input type="hidden" name="basev" value="{{obBrand.id}}">

            {% elseif base == "port" %}
            <input type="hidden" name="basev" value="{{port.id}}">
            {% else  %}

            <input type="hidden" name="basev" value="{{this.param['q']}}">

            {% endif %}
            {#
            <div class="form-group">
                <label for="sort">Orden</label>
                <select class="form-control filter-control" data-type="sort" name="sort">
                    <option value="0">Sin orden</option>
                    <option value="2">Menor Precio</option>
                    <option value="1">Más Reciente</option>
                    <option value="3">Mayor Precio</option>
                </select>
            </div>
            #}            
            {% if obCategory.children.isNotEmpty() %}
            
            <hr>
            <div class="form-group">
                <label >Categorias</label>
            {% for obChildCategory in obCategory.children %}
            
                <div class="form-check">
                    <input class="form-check-input filter-control" data-type="category"
                    type="checkbox" value="{{obChildCategory.id}}" name="subcategory_{{obChildCategory.id}}">
                    <label class="form-check-label">
                        {{obChildCategory.name}}
                    </label>
                
                </div>
                
            {% endfor %}
            </div>
            {% endif %}

           
           
            {% if brandsRes.count > 0 %}
            <div class="d-none d-sm-none d-md-block">
                <div class="form-group ">
                    <span class="card-title mt-10">Marcas</span>
                    <hr>
                    {% for obBrand in brandsRes %}
                        <div class="form-check">
                                <input type="checkbox" value="{{obBrand.id}}" name="brand_{{obBrand.id}}"
                                class="form-check-input filter-control" data-type="brand">
                                <label class="form-check-label">{{obBrand.name}}</label>
                        
                        </div>
                    {% endfor %}
                    
                    </div>
            </div>
            
            {% endif %}
            
            
        </form>
    </div>

{% else %}

NO TENGO PRODUCTOS AL PARECER
{% endif %}


