description = "footer"
==
<footer class="footer">
        <div class="foo-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-navigation">
                            <h4 class="widget-title">Sobre Rentatuyate</h4>
                            <div class="widget-content">
                                <p>RENTA TOURS C.A., <br> Todos los derechos reservados</p>
                                <ul class="social-media">
                                    <li><a href="https://www.facebook.com/RentaTuYate"><i class="ti-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/rentatuyate"><i class="ti-twitter"></i></a></li>
                                    <li><a href="https://instagram.com/rentatuyate"><i class="ti-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-navigation">
                            <h4 class="widget-title">Enlaces Rápidos</h4>
                            <ul>
                                <li><a href="#">Lanchas en semana santa 2021</a></li>
                                <li><a href="#">Lanchas en Morrocoy</a></li>
                                <li><a href="#">Yates en Morrocoy</a></li>
                                <li><a href="#">Yates en Los Roques</a></li>
                                <li><a href="#">Paseos a Isla Larga</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-navigation">
                            <h4 class="widget-title">Nosotros</h4>
                            <ul>
                                <li><a href="{{'terminos-y-condiciones'|staticPage}}">Términos y condiciones</a></li>
                                <li><a href="{{'contact'|page}}">Contacta con nosotros</a></li>
                                {#
                                <li><a href="#">Quienes Somos</a></li>
                                <li><a href="#">Métodos de Pago</a></li>
                                #}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-navigation">
                            <h4 class="widget-title">Destinos Populares</h4>
                            <ul>
                                <li>Parque Nacional Morrocoy</li>
                                <li>Los Roques</li>
                                <li>La Tortuga</li>
                                <li>Isla Larga</li>
                                <li>La Ciénaga</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="foo-btm">
            <div class="container">
                <p class="copyright">Powered by <a href="#">Dictya.com</a>.
                </p>
            </div>
        </div>

    </footer>