description = "Header top"

[viewBag]

[UserData]

[BackendUserHandler]
==
<?php
function onEnd() {
  $value = Session::get('buddies_user_auth');
}
?>
==
{% set obUser = BackendUserHandler.getBackendUser() %}

{% if obUser == null %}
    {% set obUser = UserData.get %}
{% endif %}

{% set arChargelist = CartSessionList.getSessionCartList() %}
    
    <div class="container-fluid" id="container-nav">
        
        <nav class="navbar  sticky-top navbar-light header-top-bar" id="navbar_top">
            <div class="col-md-12 text-md-right">
                {% if obUser %}
                    
                    <ul class="login-area">
                        {% if obUser.role == null %}
                        <li><a href="#" id="logout"><i class="ti-power-off"></i>Salir</a></li>
                        {% endif %}
                        <li>
                            <a id="open-cart" href="#" class="shopping-cart">
                                <span class="badge badge-pill badge-light">{{arChargelist|length}}</span>
                                <i class="ti-shopping-cart"></i>
                            </a>
                        </li>

                        <li><a href="{{'profile'|page}}" class="mr-2">Hola, {{ obUser.name }} {{ obUser.last_name }}</a></li>
                        
                    </ul>
                {% else %}
                    <ul class="login-area">
                        <li>
                            <a id="open-cart" href="#" class="shopping-cart">
                                <span class="badge badge-pill badge-light">{{arChargelist|length}}</span>
                                <i class="ti-shopping-cart"></i>
                                
                            </a>
                            
                        </li>
                        <li><a href="{{'login'|page}}" class="login"><i class="ti-power-off"></i> Login</a></li>
                        <li><a href="{{'register'|page}}" class="rsgiter"><i class="ti-plus"></i> Registro</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>  
    </div>
    
    {#
    <header>
        <nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="main_nav">	
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link" href="#"> Menu item </a></li>
              <li class="nav-item"><a class="nav-link" href="#"> Menu item </a></li>
            </ul>
          </div> <!-- navbar-collapse.// -->
        </div> <!-- container.// -->
        </nav>
        </header>
    #}

