description = "Main Menu"

[viewBag]

[CategoryList]
==
{% set obCategoryList = CategoryList.make().tree() %}

<header class="header">
    <div class="container">
        <nav class="navbar">
            <a href="{{'index'|staticPage }}" class="logo">
                <img src="https://rentatuyate.com/storage/app/media/logos/logo-rentatuyate2-1.png" class="img-fluid" alt="Renta tu Yate">
               
            </a>

            {#<a href="javascript:void(0);" id="mobile-menu-toggler">
                <i class="ti-align-justify"></i>
            </a>#}
            <ul class="navbar-nav">
                <li>
                    <a href="{{'index'|staticPage }}">Home</a>
                </li>
                <li class="has-menu-child">
                    <a href="javascript:void(0);">Embarcaciones</a>
                    <ul class="sub-menu">
                        {% for obCategory in obCategoryList  %}
                            <li><a href="{{ 'boat-category'|page({slug: obCategory.slug }, false) }}">{{obCategory.name}}</a></li>
                        {% endfor %}
                        
                    </ul>
                </li>
                <li><a href="{{'contact'|page}}">Contacto</a></li>
               
            </ul>
        </nav>
    </div>
</header>