description = "Main search form"

[viewBag]
snippetCode = "search-form"
snippetName = "Search form"

[SearchHandler]
mode = "query"

==
{% component 'SearchHandler' %}

{% set categories = SearchHandler.getInitialCategories() %}
{% set ports = SearchHandler.getInitialPorts() %}
{% set destinations = SearchHandler.getInitialDestinations() %}
{% set dates = SearchHandler.getInitialDates() %}

<script>
    $(function() {
        $('#datepicker-input').daterangepicker({
            "startDate": "{{dates[0]}}", 
            "endDate": "{{dates[1]}}",
            "locale": {
                "format": "DD-MM-YYYY",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "fromLabel": "Desde",
                "toLabel": "Hasta",
                "customRangeLabel": "Custom",
                "weekLabel": "S",
                "daysOfWeek": [
                    "Do",
                    "Lu",
                    "Ma",
                    "Mi",
                    "Ju",
                    "Vi",
                    "Sa"
                ],
                "monthNames": [
                    "Enero",
                    "Febrero",
                    "Marzo",
                    "Abril",
                    "Mayo",
                    "Junio",
                    "Julio",
                    "Agosto",
                    "Septiembre",
                    "Octubre",
                    "Noviembre",
                    "Diciembre"
                ],
                "firstDay": 1}
        });
    });
</script>

<section class="main-form form-v2 p-2">
    <div class="container">
        <div class="m-search-form  nm-top-100 p-4">
            <form class="col-d-12 search-form">
                <div class="row mt-0">
                    <div class="col-md-10 col-lg-11 p-0">
                        <div class="row mt-0">
                            <!-- 
                            <span class="checkbox mr-lg-1">
                                <button id="buy" class="btn bstn active">Compra <i class="ti-check ml-1"></i></button>
                                <button id="rent" class="btn bstn" >Alquiler <i class="ti-check"></i></button>
                            </span>
                           -->
                           <span class="checkbox mr-lg-1 ">
                            <div class="btn-group btn-group-toggle w-sm-100" data-toggle="buttons">
                                <label class="btn btn-secondary bstn {{searchParams['searchType']!='compra' ? 'active focus'}}" id="rent">
                                    <input type="radio" value="renta"  name="searchType" {{searchParams['searchType']!='compra' ? 'checked'}}
                                    > Alquiler
                                  </label>
                                <label class="btn btn-secondary bstn {{searchParams['searchType']=='compra' ? 'active focus'}} " id="buy">
                                  <input type="radio" value="compra" name="searchType" {{searchParams['searchType']=='compra' ? 'checked'}}>Compra
                                </label>
                                
                              </div>
                           </span>
                            <div id="datepickerGroup" class="input-group-append {{searchParams['searchType']=='compra' ? ' d-none'}}">
                                <span class="input-group-text p-0">
                                    <input id="datepicker-input" autocomplete="off" name="dates"  placeholder="Fecha" class="date-input w-100">
                                </span>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text p-0">
                                    <select name="category" id="yachname" data-style="custom-select bg-transparent border-0" data-container="body" data-live-search="true" class="selectpicker form-control bg-transparent">
                                        <optgroup label="Tipo de Embarcación">
                                            <option value="all">Todas las Embarcaciones</option>
                                            {% set selected = "selected" %}
                                            {% for category in categories %}
                                            <option value="{{category.code}}" data-alias="{{category.name}}"
                                             {{searchParams['category'] == category.code ? selected }} >
                                                {{category.name}}
                                            </option>
                                            {% endfor %}
                                        </optgroup>
                                    </select>
                                </span>
                            </div>
                            <div class="input-group-append mr-1 {{searchParams['searchType']!='compra' ? ' d-none'}}" id="port-selector">
                                <span class="input-group-text p-0">
                                    <select name="port" id="port" data-style="custom-select bg-transparent border-0" data-container="body" data-live-search="true" class="selectpicker form-control bg-transparent">
                                        <optgroup label="Ubicación/Puerto">
                                            <option value="all">Todos Puertos</option>
                                            {% for port in ports %}
                                            <option value="{{port.code}}" {{searchParams['port'] == port.code ? selected }}>{{port.name}}</option>
                                            {% endfor %}
                                        </optgroup>
                                    </select>
                                </span>
                            </div>
                            <div class="input-group-append mr-1 {{searchParams['searchType']=='compra' ? 'd-none'}}" id="destination-selector">
                                <span class="input-group-text p-0">
                                    <select name="destination" id="location" data-style="custom-select bg-transparent border-0" data-container="body" data-live-search="true" class="selectpicker form-control bg-transparent">
                                        <optgroup label="Locación">
                                            <option value="all">Todos Destinos</option>
                                            {% for destination in destinations %}
                                            <option value="{{destination.slug}}" {{searchParams['destination'] == destination.slug ? selected }}>
                                                {{destination.name}}
                                            </option>
                                            {% endfor %}
                                        </optgroup>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-1 p-0">
                        <div class="button-area text-center text-md-right ml-md-2 ml-lg-0">
                            <button type="submit" class="btn px-3 search-btn w-lg-100"><i class="ti-search"></i></button>
                            <!-- <button class="btn px-3 a-search"><i class="ti-layout-menu-v"></i></button>  ml-md-2-->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>