description = "CSS links and others"

[viewBag]
==
<link href="images/favicon.png" rel="shortcut icon">
    
    <link href="{{ [
            'assets/css/bootstrap.min.css',
            'assets/css/themify-icons.css',
            'assets/css/owl.carousel.min.css',
            'assets/css/bootstrap-select.min.css',
            'assets/css/fonts/flaticon.css',
            'assets/css/style.css',
            'assets/css/custom.css',
            'assets/vendors/sweetalert/sweetalert.css',
            'assets/vendors/toastr/css/toastr.min.css',
        ]|theme }}" rel="stylesheet">
        
    <!-- All CSS -->

    <!-- Color Palette. simple uncomment below link tag if you need any color palette -->
    <!-- <link rel="stylesheet" href="css/switcher/css/red.css"> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="icon" type="image/png" href="https://rentatuyate.com/storage/app/media/favicon-32x32.png" />
    <script src="{{ [
        'assets/js/jquery-3.3.1.min.js'
    ]|theme }}"></script>
    
    {% framework extras %}