description = "scripts js"

[viewBag]
==
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxYLtelXg0PGjeTiFDtlN7nrH_47buDWo"></script>
        
<script src="{{ [
            'assets/js/jquery-ui.min.js',
            'assets/js/bootstrap.bundle.min.js',
            'assets/js/owl.carousel.min.js',
            'assets/js/bootstrap-select.min.js',
            'assets/js/date.js',
            'assets/js/scripts.js',
            'assets/js/ajax-messages.js',
            'assets/js/custom/custom.js',
            'assets/js/custom/search-management.js',
            'assets/js/custom/form-valitation.js',
            'assets/js/user/auth.js',
            'assets/js/user/contact.js',
            'assets/js/custom/cart.js',
            'assets/vendors/sweetalert/sweetalert.min.js',
            'assets/vendors/toastr/js/toastr.min.js',
        ]|theme }}"></script>
    {% scripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
