[viewBag]
title = "Home"
url = "/"
layout = "static-layout"
is_hidden = 0
navigation_hidden = 0
meta_title = "Compra o alquila tu yate en un solo click"
meta_description = "descripcion del home"
robot_index = "index"
robot_follow = "follow"
==
<figure class="loading" data-snippet="slider-home">&nbsp;</figure>
<figure class="loading" data-inspector-id="inspectorid-947497286884" data-snippet="search-form">&nbsp;</figure>
<section class="feature pt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="iconBox text-center"><i class="flaticon-cruise"></i>

					<h5>Renta tu lancha o yate online</h5>

					<p>Encuentra rápido, reserva fácil y paga seguro con tarjeta, Zelle o efectivo.</p>
				</div></div>
			<div class="col-md-4">
				<div class="iconBox text-center"><i class="flaticon-ship-2"></i>

					<h5>Destinos paradisíacos</h5>

					<p>Elije paseos full day o con pernocta y arma tu reserva con todo los servicios</p>
				</div></div>
			<div class="col-md-4">
				<div class="iconBox text-center"><i class="flaticon-boat-5"></i>

					<h5>Compra de embarcaciones</h5>

					<p>Busca yates, lanchas o motos acuáticas y embárcate en la aventura de tus sueños.</p>
				</div></div></div></div>
</section>
<section class="callto-action">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-12 text-center">

				<h3>¿Quieres publicar tu embarcación?</h3>

				<p>¡Escribe en nuestro chat y te asistiremos al instante!</p>
			</div>
			<!-- 
			<div class="col-md-4 text-md-right"><a class="btn btn-default" href="https://rentatuyate.com/categoria/con-camarote">Ver todos</a></div>
			--></div></div>
</section>
<figure class="loading" data-snippet="ports-home">&nbsp;</figure>
<section class="courses home bg-offwhite">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 m-auto text-center">
				<div class="sec-heading"><span class="tagline">Adquiere tu embarcación</span>

					<h3 class="sec-title">Lanchas y Yates listos para zarpar</h3>
				</div></div></div>
		<div class="row">
			<figure class="loading" data-inspector-id="inspectorid-508074350778" data-property-codes="1,2,3" data-snippet="products-by-external-id">&nbsp;</figure>
			<figure class="loading" data-snippet="destination-cards">&nbsp;</figure>
		</div></div>
</section>