[viewBag]
title = "terminos y condiciones"
url = "/terminos-y-condiciones"
layout = "static-layout"
is_hidden = 0
navigation_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<section class="page-feature py-5">
	<div class="container text-center">
		<div class="row">
			<div class="col-md-12">

				<h1 class="text-center">Términos y condiciones</h1>
			</div></div></div>
</section>
<section class="terms-condition">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="entry-content">

					<h6>HORA Y LUGAR DE ENTREGA Y DEVOLUCIÓN DE LA EMBARCACIÓN.</h6>

					<p>El horario de disfrute de la embarcación se encuentra comprendido desde las 9:30am hasta las 4:00pm. Ahora bien, queda a elección del usuario si desea realizar el zarpe luego de las 9:30 am, siendo la hora tope para realizar el referido zarpe la 3:30pm. El usuario reconoce y acepta que si es su deseo de realizar el zarpe posteriormente a la hora antes mencionada esta modificación no implica bajo ningún concepto posibilidad que se realice un prorrateo del costo del servicio. Así las cosas, el usuario deberá acatar las órdenes del capitán, quien por razones de seguridad podrá anticipar el regreso, sin que este hecho genere disminución del costo del servicio. El USUARIO podrá zarpar en el “EMBARCADERO MORROCOY”, y el retorno será en el sitio anteriormente indicado.</p>

					<ul>
						<li>1. Urem ipsum dolor sit amet consectetur adipisicing elit. Veritatis mollitia quis esse ad.</li>
						<li>2. Eleniti porro voluptates tempora molestiae dolores dignissimos odio? Tenetur, quo quidem.</li>
						<li>3. Sunt suscipit ad est aliquam quibusdam voluptate!</li>
						<li>4. Ad porro nobis placeat natus minima nisi temporibus sint veritatis deserunt nulla.</li>
						<li>5. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis mollitia quis esse ad.</li>
					</ul>

					<h6>RESERVA Y PAGO</h6>

					<p>La reserva de la embarcación quedará confirmada una vez el usuario abone el cincuenta por ciento (50%) del importe total del alquiler, no considerándose ninguna embarcación comprometida mientras no se efectúe dicho pago. El resto del importe se abonará como máximo, y a más tardar, veinticuatro (24) horas antes de la salida de la embarcación, en caso de no efectuarse, la reserva se considerará anulada.</p>

					<p>Ahora bien, en el caso de que el usuario reserve una embarcación el mismo día del servicio,<strong>&nbsp;RENTA TOURS C.A.</strong>, gozara de un tiempo prudencial de aproximadamente dos (2) horas para organizar la logística del zarpe y tener a disposición de EL USUARIO la embarcación arrendada. Si por causas de fuerza mayor o casos fortuitos, la embarcación el día del zarpe presenta alguna falla o avería que implique la imposibilidad de realizarlo, <strong>&nbsp;RENTA TOURS C.A.</strong>, le proporcionará al usuario opciones de embarcaciones para el alquiler con las mismas o similares características de la elegida previamente por el usuario o inclusive con mejores características, previo ajuste de tarifa (de ser el caso).</p>

					<p>En este orden de ideas, si falla o avería en la embarcación se presenta durante el tiempo del servicio, <strong>&nbsp;RENTA TOURS C.A.</strong>, gozara de un tiempo prudencial de aproximadamente dos (2) horas contados desde la notificación por parte del capitán de la falla para solventar, solucionar o conseguir otra embarcación con iguales o similares características a la arrendada por EL USUARIO. Así las cosas, <strong>&nbsp;RENTA TOURS C.A.</strong>, garantiza que hará sus mejores oficios para que durante el tiempo anteriormente mencionado el usuario pueda realizar la espera el algún cayo cercano al sitio donde se presente la falla.</p>

					<h6>CONDICIONES DE USO DE LA EMBARCACIÓN Y OBLIGACIONES DE LOS USUARIOS</h6>

					<p><strong>&nbsp;EL USUARIO</strong>, responde de todos los actos de las personas indicadas en la lista de tripulantes de la embarcación o cualquier persona que se encuentre a bordo, dicho número de personas no podrá sobrepasar en ningún caso la capacidad máxima de la embarcación. Además, EL USUARIO y sus acompañantes respetaran las siguientes condiciones de uso de la embarcación:</p><strong>A) Conforme lo dispuesto en Ley Orgánica del Turismo:</strong>

					<p>➢ Preservar y cumplir con la normativa vigente relacionada con el patrimonio natural y cultural de la Nación, así como de sus costumbres, creencias y comportamientos.</p>

					<p>➢ Cumplir con la normativa especial relacionada con legitimación de capitales; tráfico de sustancias estupefacientes y psicotrópicas; armas y explosivos; patrimonio histórico, cultural y arqueológico; antigüedades, especies protegidas, productos y sustancias peligrosas. ➢ Denunciar la presunta comisión de los delitos relacionados con la prostitución y la trata de personas en todas sus formas</p>

					<p>➢ Inhibirse de realizar cualquier comportamiento no acorde a las buenas costumbres locales, o dañar el entorno del lugar visitado.</p>

					<p>➢ Respetar la normativa relativa a la protección y conservación del medio ambiente.</p>

					<p>
						<br><strong>B) Conforme lo dispuesto en la Ley General de Marinas y Actividades Conexas:&nbsp;</strong>
						<br>➢ Reconocer al capitán como la máxima autoridad a bordo.</p>

					<p>➢ Atenerse y ajustarse a las indicaciones que el capitán establezca o instruya al momento de zarpar y durante el tiempo de navegación</p>

					<p>➢ Adoptar cualquier medida extraordinaria de seguridad instruida por el capitán con la finalidad de resguardar la seguridad e integridad del usuario y sus acompañantes hasta tanto se hagan presentes las autoridades competentes.</p>

					<p>➢ Aceptar y comprender que las únicas personas autorizadas a manejar la EMBARCACIÓN son: El Capitán y el Marino.</p>

					<p>➢ Mantener el orden y disciplina a bordo de la embarcación.
						<br>➢ Respetar al capital y su personal a bordo.
						<br>➢ Abstenerse de realizar reclamaciones al capitán de forma tumultuosa.
						<br>➢ Abstenerse de realizar actos que afecten el normal desarrollo de la navegación, su seguridad o la violación de alguna disposición relativa a la materia de navegación o cualquier acto que incurra en la constitución de un delito.</p>

					<p><strong>C) Medidas de seguridad establecidas por RENTA TOURS C.A.</strong>
						<br>➢ Usar chalecos salvavidas durante la navegación.
						<br>➢ No requerir al capitán sobrepasar los límites de velocidad.
						<br>➢ No lanzarse al agua mientras la embarcación se encuentre navegando. ➢ No dejar botellas de vidrio en el piso de la embarcación. ➢ No fumar dentro de la embarcación. ➢ No contaminar el medio ambiente.</p>

					<p>➢ Está prohibido el uso de sustancias estupefacientes y psicotrópicas. ➢
						<br>Cuidar de la embarcación como un buen padre de familia.
						<br>➢ Usar la embarcación exclusivamente para fines recreacionales por lo que en ningún caso puede destinarla a operaciones de comercio, pesca, transporte, competiciones deportivas, y cualesquiera que sean otras incompatibilidades con la finalidad del alquiler.
						<br>➢ Queda prohibido el remolque de otras embarcaciones salvo en casos de urgencia, así mismo sólo se dejará remolcar la embarcación alquilada en los mismos casos.
						<br>➢ Queda totalmente prohibido el subarriendo o cesión de la embarcación por parte del arrendatario.</p>
					<h6>ACEPTACIÓN DE RIESGOS Y EXCLUSIONES DE RESPONSABILIDAD.</h6>
					<p>
						<strong>EL USUARIO </strong>acepta y reconoce el riesgo que corre para sí mismo y sus acompañantes el
						incumplimiento de lo dispuesto en la legislación vigente y las normas de seguridad establecidas por
						RENTA TOURS C.A. En tal sentido, EL USUARIO, se compromete a actuar como un buen padre de
						familia y procurara que sus acompañantes actúen de la misma forma con la finalidad de garantizar
						el mantenimiento y la conservación de la embarcación.
					</p>
					<p>
						En este orden de ideas, EL USUARIO exime y libera de cualquier tipo de responsabilidad o
						indemnización a RENTA TOURS C.A., que se causen o se pudieran ocasionar por algún daño que se
						genere durante el transcurso del servicio ya sea que el mismo sea ocasionado por falta de la víctima,
						por el hecho de un tercero, un caso fortuito, de fuerza mayor o por negligencia e imprudencia en el
						cumplimiento por parte de EL USUARIO o sus acompañantes respecto a las normas estipuladas para
						el correcto funcionamiento y uso de la embarcación.
					</p>
					<p>
						Asimismo, RENTA TOURS C.A., no se hace responsable por objetos y/o pertenencias de EL USUARIO
						y/o sus acompañantes dejados dentro de las embarcaciones una vez concluido el alquiler de la
						embarcación, que como consecuencia se pierdan o se extravíen. EL USUARIO es responsable de cada
						una de sus pertenencias durante el trascurso de las horas comprendidas del servicio.
					</p>
					<p>
						El Usuario se obliga mediante la suscripción de la presente a comportarse durante la duración del
						Servicio conforme a la moral, las buenas costumbres y el orden público. En caso de producirse
						alteraciones en el servicio por mala conducta, EL USUARIO acepta que RENTA TOURS C.A., podrá
						optar por poner fin al servicio solicitado de forma inmediata. Al aceptar los términos y condiciones
						EL USUARIO declara ser responsable por cualquier daño causado a los equipos o la embarcación.
					</p>
					<p>
						Igualmente, el consumo de bebidas alcohólicas sólo es permitido para personas mayores de 18 años,
						y se debe realizar de forma responsable. RENTA TOURS C.A., y los propietarios de la embarcación
						no son responsables por algún accidente que se presente a causa del consumo irresponsable de
						bebidas alcohólicas y en caso de que el capitán o la tripulación detecte consumo de drogas se
						comunicará a las autoridades pertinentes.
					</p>
					<p>
						Así las cosas, EL USUARIO declara ser consciente de los riesgos que se corren al realizar el zarpe en
						una embarcación y de las responsabilidades que se incurren en esta actividad. Por lo tanto, EL
						USUARIO exonera a RENTA TOURS C.A., a sus representantes legales y los propietarios de las
						embarcaciones de cualquier responsabilidad moral o legal por eventuales daños o perjuicios que

						puedan generarse y asume todos los riesgos en su participación voluntaria en las actividades
						desarrolladas durante el tour a los cayos dentro del Parque Nacional Morrocoy.
					</p>

					<h6>POLÍTICAS DE CANCELACIÓN, REPROGRAMACIÓN, REMBOLSOS Y PENALIDADES</h6>

					<p><strong>Cancelación</strong></p>

					<p>
						➢ Un mes antes de la salida: Reembolso del cien por ciento (100% )menos los recargos generados
						por la transacción y gastos administrativos.
					</p>
					<p>
						➢Una semana antes de la salida: Reembolso del ochenta por ciento (80%) menos los recargos
						generados por la transacción y gastos administrativos.
					</p>
					<p>
						➢Menos de una semana antes de la salida: Reembolso del cincuenta por ciento (50%) menos los
						recargos generados por la transacción y gastos administrativos.
					</p>
					<p>
						➢El día antes de la salida: Reembolso del treinta por ciento (30%) menos los recargos generados
						por la transacción y gastos administrativos.
					</p>
					<p>
						➢El día de la salida: No se realizará ningún reembolso. ➢ Una semana antes de la salida: No hay
						cargos adicionales por el cambio, pero está sujeto a disponibilidad.
					</p>
					<p>
						➢Tres días antes de la salida: No hay cargos adicionales por el cambio, pero está sujeto adisponibilidad.
					</p>
					<p>
						➢ El día antes de la salida: Se puede realizar cambios, pero están sujetos a disponibilidad.
					</p>

					<p><strong>Reembolso</strong></p>

					<p>
						En caso de presentarse alguna de las siguientes situaciones se realizará un reembolso de la reserva
						o del monto cancelado hasta la fecha, pero no de los gastos administrativos generados.
					</p>
					<p>
						Cancelación por defunción de EL USUARIO: sólo se efectuará rembolso o reintegro del dinero,
						cuando los herederos del de cujus cumplan con las formalidades que se especifican a continuación:
						(I)se notifique el deceso en un periodo máximo de setenta y dos (72) horas de ocurrido el hecho; (II)
						se envié el certificado de defunción o acta de defunción en un periodo que no exceda los tres (3)
						días hábiles desde que ocurrió el hecho. (III) los interesados o beneficiarios del rembolso presenten
						la documentación pertinente que los acredite como los herederos del de cujus.
					</p>
					<p>
						Ahora bien, <strong>RENTA TOURS C.A.</strong>, una vez verificada y revisada la documentación enviada por los
						herederos, tendrá un lapso de quince (15) días continuos para realizar el rembolso de la cantidad
						entregada a la cual se debitará el monto correspondiente a los gastos administrativos de la empresa.
					</p>
					<p>
						Cancelación por motivos de enfermedad de <strong>EL USUARIO:</strong> sólo se efectuará reintegro o
						devolución, en las temporadas bajas, siempre que el usuario cumpla con las siguientes formalidades:
						(I) solicitud del rembolso con un mínimo de setenta y dos (72) horas antes de la fecha del zarpe. (II)
						envió de informe médico que justifique la imposibilidad de zarpe de el usuario.
					</p>
					<p>
						En estos casos, <strong>RENTA TOURS C.A.</strong>, una vez verificada y revisada la documentación enviada por los
						herederos, tendrá un lapso de quince (15) días continuos para realizar el rembolso de la cantidad
						entregada a la cual se debitará el monto correspondiente a los gastos administrativos de la empresa
					</p>

					<p>
						<strong>Cancelación del zarpe por tema climatológicos:</strong> solo se cancelarán los zarpes, en el caso que las
						autoridades competentes decreten la prohibición de los mismos por algún motivo que ponga en
						riesgo de peligro a los tripulantes, y/o en el caso que el capitán de la embarcación sugiera lo mismo.
						En estos casos EL USUARIO puede optar por alguna de las siguientes opciones: (I) cambiar su fecha
						de disfrute dentro de los próximos quince (15) días continuos, contados a partir de la fecha original
						para la que se contrató el servicio o (II) requerir el rembolso de su dinero,
					</p>

					<p>
						el mismo se efectuara dentro de los próximos quince (15) días continuos una vez descontados los 
						gastos administrativos.
					</p>

					<p><strong>Penalidades</strong></p>

					<p>Penalidad por “NO SHOW” del usuario: se considerará en el caso que EL USUARIO incurra en
						alguna de las siguientes circunstancias: (I) No notifique a RENTATOURS C.A., antes de las 11:00am
						su deseo de salir a una hora distinta a la previamente establecida en estos términos y condiciones
						(II) no se presente en las marinas anteriormente mencionadas para realizar el zarpe. En estos casos,
						no se realizará ningún rembolso y/o reprogramación al usuario.
					</p>
					<p>
						Penalidad por cambio de fecha de zarpe en menos de una semana antes de la salida: se aplicará
						una penalidad del cinco por ciento (5%) al monto previamente acordado por el arrendamiento de
						la embarcación
					</p>
					<p>Penalidad por cambio de fecha de zarpe el día antes de la salida: se aplicará una penalidad del
						quince por ciento (15%) al monto previamente acordado por el arrendamiento de la embarcación</p>

					<p><strong>NOTIFICACIONES</strong></p>
					<p>EL USUARIO, podrá realizar las notificaciones necesarias o el envió de documentación pertinente a
						rentatuyate@gmail.com y/o comunicarse a través de los siguientes números de teléfono
						(04144361434- 04149402616, 04144264273).</p>
				</div>
			</div>
		</div>
	</div>
</section>