form label.hidden {
  display: block;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.errors {
  height: 30px;
  line-height: 30px;
}

.errors .error {
  font-size: 14px;
  color: #b91f1f;
}

.btn:hover {
  color: white;
  background-color: #16458a !important;
}

.btn.dropdown-toggle:hover {
  background-color: transparent !important;
}

.btn-transparent {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #0c2e60;
}

.btn-transparent:hover {
  color: #0c2e60;
  background-color: transparent !important;
}

.fc-white {
  color: white;
}
#search-page-container{
 min-height: 480px;
}

.card-single{
  padding: 0;
}

.login-area a.shopping-cart {
  color: white;
  font-size: 20px;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 340px;
  height: 100vh;
  overflow: auto;
  padding-bottom: 1.5rem;
  background-color: white;
  box-shadow: 0 4px 7px 0 rgba(0,0,0,.2);
  transform: translateX(100%);
  transition: transform .2s ease-out;
}

.cart.open {
  transform: translateX(0);
}

.cart .head {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  padding: 20px 0;
}

.cart .head .close-cart {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  padding: 20px 0;
}

.cart .head .close-cart .close-item {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 25px;
  height: 2px;
  border-radius: 4px;
  background-color: #4facfe;
}

.cart .head .close-cart .close-item:first-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.cart .head .close-cart .close-item:last-child {
  transform: translate(-50%, -50%) rotate(45deg);
}

.cart .head .tabs {
  display: flex;
  width: 100%;
}

.cart .head .tabs .tab {
  flex: 1 0 50%;
  color: #4facfe;
  border-radius: 0;
}

.cart .head .tabs .tab.active {
  background-color: #f3f3f3;
}

.cart .items {
  margin-top: 40px;
}

.cart .items .title {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 700;
  color: #0c2e60;
}

.cart .items .item {
  border-bottom: 5px solid #0c2e60;
}

.cart .items .item .btn.remove {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 9;
  padding: 0.5rem;
  background-color: #fff;
  color: black;
  font-size: 18px;
}

.cart .items .item .btn.remove:hover {
  background-color: #0c2e60;
  color: white;
}

.cart .items .item .course-thumb {
  height: 60px;
  overflow: hidden;
}

.cart .items .item .course-content { 
  padding: 10px 20px;
}

.cart .items .item .course-content h3 { 
  margin-bottom: .5rem;
}

.cart .items .item .course-content h3 a { 
  font-size: 16px;
}

.cart .items .item .info .info-item {
  margin-bottom: 0px;
  font-size: 14px;
}

.cart .items .item .info .info-item span {
  font-weight: 700;
}

.cart .items .item .course-content .price {
  margin-bottom: 0;
  text-align: right;
  color: #4facfe;
  font-size: 16px;
  font-weight: 700;
}

.cart .foot .btn.buy {
  background-color: #0c2e60;
}

#container-nav{
  padding: 0;
  //padding: 15px;
  
}


#container-nav .navbar{
  padding:5px;
  z-index: 999;
}

.shopping-cart .badge{
  font-size: 9px;
    margin-bottom: 12px;
}
.shopping-cart .ti-shopping-cart{
  top: 4px;
  left: -7px;
}

.cart-page .card .info-item{
  margin-bottom: 0;
}

.rent-form .custom-select{
  border-radius: .25rem 0  0 .25rem;
}
.bootstrap-select-container .custom-select{
  padding: 0;
  background: none;
}

.contact .custom-select{
  //margin-top: 5px;
  height: 100%;
  border-radius: 0px;
}
.contact .custom-select button{
  margin-top: 5px;
}

.bootstrap-select-container .btn{
  border: 0;
  color: black;

}

.bootstrap-select-container .btn-light{
  background: none;
}

.bootstrap-select-container .filter-option-inner-inner{
  font-size: 15px;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 84px;
}

#order-button{
  margin: 0 auto;
}
#page-filter{
  width: 0 !important;
  height: 0 !important;
}

#logout{
  font-size: 13px;
}

#logout:hover{
  color: #4facfe;
}

/*
@media screen and (max-width: 768px){
  .login-area{
    margin-top: 20px;
  }
}*/

