description = "template default"

[Logout]
mode = "ajax"
redirect_on = 1
redirect_page = "index"

[CartSessionList]

[SeoCmsPage SeoCmsPage2]
==
<!doctype html>
<html lang="es">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    {% if seo_props %}

        {% partial "seo/dynamic-seo" %}

        {% else %}

        {% component 'SeoCmsPage' %}

    {% endif %}
    <!-- Favicon icons -->
   {% partial 'assets/headers' %}
   
</head>

<body>
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/60219ee7a9a34e36b9751afe/1eu1l9eif';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    <div id="header-top-container">
        {% partial 'header-top' %}
    </div>
    
    
    {% partial 'main-menu' %}
    <div id="cart-container">
        {% partial 'cart' %}
    </div>
    
    
    {% page %}
    
    {% partial 'footer' %}
    
    {% partial 'assets/scripts' %}
    
</body>