description = "Maintenance layout"
==
<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    <title>Rentatuyate.com | En Construcción</title>
    
    <link href="{{ [
            'assets/css/bootstrap.min.css',
            'assets/css/coming-sssoon.css',
        ]|theme }}" rel="stylesheet">
        
    {#
    <link href="css/bootstrap.css" rel="stylesheet" />
	<link href="css/coming-sssoon.css" rel="stylesheet" />
	#}
    
    <!--     Fonts     -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
  
</head>

<body>
    {% page %}
 </body>
 <script src="{{ [
            'assets/js/jquery-3.3.1.min.js',
            'assets/js/jquery-ui.min.js',
            'assets/js/bootstrap.bundle.min.js',
        ]|theme }}"></script>
    {% scripts %}
    {% framework extras %}
    
    {#
   <script src="js/jquery-1.10.2.js" type="text/javascript"></script>
   <script src="js/bootstrap.min.js" type="text/javascript"></script>
   #}

</html>