title = "boat-single"
url = "/embarcacion/:slug"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[staticBreadcrumbs]

[ProductPage]
slug = "{{ :slug }}"
slug_required = 1
smart_url_check = 0
skip_error = 0

[ProductList]
sorting = "no"

[BoatBookingHandler]

[SeoCmsPage]
==
<?php
function onStart() {
    use Lovata\Shopaholic\Models\Product;
    use Qchsoft\YatchExtension\Models\Upselling;
    use Qchsoft\YatchExtension\Models\UpsellingCategory;
    
    $this->addJs(['assets/js/boat/booking.js']);
    
    $slug = $this->param('slug');
    $this["obProduct"] = Product::where("slug", $slug)->first();

    /*$upselling_categories = [];
    $upsellings = $this["obProduct"]["upsellings"];
    foreach ($upsellings as $upselling) {
        $key = in_array($upselling["category"], $upselling_categories);
        if ($key) {
            $upselling_categories[$key][] = $upselling;
        } else {
            $upselling["category"]["upsellings"] = [$upselling];
            $upselling_categories[] = $upselling["category"];
        };
    }
    $this["upselling_categories"] = $upselling_categories;*/

}

function onEnd(){
    if($this["obProduct"]){
        if($this["obProduct"]->preview_image){
        $image = $this["obProduct"]->preview_image->getPath();
        }else{
        $image = "";
        }
        
        $seo_props =  array(
          "titulo" => "Rentatuyate | ".$this["obProduct"]->name,
          "descripcion" => $this["obProduct"]->preview_text,
          "type" => "article",
          "imagen" => $image,
          "url" => "https://rentatuyate.com/embarcacion/".$this["obProduct"]->slug,
          "robots" => "index,follow"
      );
  
        $this["seo_props"] = $seo_props;
    }
  }
?>
==
{% set obProductList = ProductList.make().active().category(obProduct.category_id).take(3) %}
{% set calendar = obProduct.calendars.first() %}
<div data-id="{{obProduct.id}}">
    <section class="page-feature py-5">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-6">
                    <h1 class=" text-left">{{obProduct.name}}</h1>
                </div>
                <div class="col-md-6">
                    {% component 'staticBreadcrumbs' %}
                </div>
            </div>
        </div>
    </section>
    <section class="yacht-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="yacht-preview">
                        <!-- <img src="images/course-preview.jpg" alt=""> -->
                        <div class=" owl-carousel yacht-slider">
                            {% for image in obProduct.images %}
                                <div class="item">
                                    <img src="{{image.path}}" alt="{{image.title}}">
                                </div>
                            {% endfor %}
                        </div>
                        <!-- <a href="#" class="preview-btn"><i class="ti-control-play"></i></a> -->
                    </div>
                    <div class="course-content mb-3">
                        <h3 class="text-left">{{obProduct.name|upper}} </h3>
                        {% if obProduct.preview_text is not empty %}
                        <p>{{ obProduct.preview_text }}</p>
                        {% endif %}
                        
                    </div>
                    <div class="d-md-none d-sm-block" >
                        <div class="course-content">
                                <form id="boat-booking-form-mobile" class="boat-booking-form">
                                    <input type="hidden" value="{{calendar.id}}" name="calendar_id">
                                    <div class="row">
                                        <div class="form-group col-sm-12">
                                            <label for="bookingType">Elige tipo de paseo</label>
                                            <select class="form-control" name="bookingType" id="booking-type">
                                                <option value="0">Selecciona</option>
                                                {% for bookingType in obProduct.booking_type %}
                                                <option value="{{bookingType.id}}">{{bookingType.name}}</option>
                                                {% endfor %}
                                            </select>
                                          </div>
    
                                        <div class="form-group col-sm-12">
                                        <label for="destination">Elige destino</label>
                                            <select class="form-control" name="destination" id="destination">
                                                {% for destination in obProduct.destinations %}
                                                <option value="{{destination.id}}">{{destination.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div id="calendar-content" class="form-group col-sm-12 calendar-content">
                                            {% partial 'booking/calendar' obProduct = obProduct %}
                                        </div>
                                        
                                        <input type="hidden" name="id" value="{{obProduct.id}}">
                                         
                                    </div>
                                    <p class="text-center">
                                        <button type="submit" class="btn btn-filled mb-2">Consultar precio</button>  
                                
                                    </p>
                                    
    
                                    <div class="row mt-2 result-price-container" id="result-price-container">
                                        
                                    </div>
                                </form>
                        </div>
                    </div>
                    
                    <div class="course-curriculum mt-4">
                        <div id="overview" class="tab-pane fade in show active">
                            <h4 class="tab-title">Descripción</h4>
                            {{ html_clean(obProduct.description) }}
                            <hr>

                            <h4 class="tab-title">Características</h4>
                            <ul class="tab-list-2col mb-4">
                                <li><i class="ti-target"></i><b>Modelo</b>: {{obProduct.model}}</li>
                                <li><i class="ti-target"></i><b>Puerto</b>: {{obProduct.port.name}}</li>
                                <li><i class="ti-ruler-alt"></i><b>Tamaño</b>: {{obProduct.length}}</li>
                                <li><i class="ti-user"></i><b>Capacidad</b>: {{obProduct.capacity}}</li>
                            </ul>
                            <hr>
                           
                            {% if obProduct.attributes.count > 0 %}
                            <div>
                                <h4 class="tab-title">Atributos</h4>
                                <ul class="tab-list-2col mb-4">
                                    {% for attribute in obProduct.attributes %}
                                        <li>
                                            <i class="ti-check-box"></i>
                                            <span>{{attribute.name}}</span>
                                            
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}

                            {% if obProduct.destinations.count > 0 %}
                            <hr>
                            <div>
                                <h4 class="tab-title">Destinos disponibles</h4>
                                <ul class="tab-list-2 col mb-4">
                                    {% for destination in obProduct.destinations %}
                                        <li>
                                           
                                            <b> <i class="ti-location-pin"></i> {{destination.name}}</b>
                                            <p>{{destination.pivot.conditions}}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}


                            {% for category in upselling_categories %}
                            <hr>
                            <div>
                                <h4 class="tab-title">{{category.name}}</h4>
                                <ul class="tab-list-2col mb-4">
                                    {% for upselling in category.upsellings %}
                                        <li>
                                            <i class="ti-star"></i>
                                            <span>{{upselling.name}}</span>
                                            {% if upselling.pivot.is_free %}
                                                <b>(Gratis)</b>
                                            {% else %}
                                                <b>(Precio/Día)</b>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endfor %}
                            
                            <hr>
                            {% set offer = obProduct.offer.first() %}
                            
                            {% if obProduct.offer|length > 0 %}
                            
                            {% partial 'contact-form' offer = offer %}

                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if calendar %}
                <div class="col-lg-4 d-none d-md-block">
                    <aside class="sidebar">
                        <div class="widget">
                            <h3 class="widget-title">Alquilar Embarcación</h3>
                            <form id="boat-booking-form" class="boat-booking-form">
                                
                                
                                <input type="hidden" value="{{calendar.id}}" name="calendar_id">
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label for="bookingType">Elige tipo de paseo</label>
                                        <select class="form-control" name="bookingType" id="booking-type">
                                            <option value="0">Selecciona</option>
                                            {% for bookingType in obProduct.booking_type %}
                                            <option value="{{bookingType.id}}">{{bookingType.name}}</option>
                                            {% endfor %}
                                        </select>
                                      </div>

                                    <div class="form-group col-sm-12">
                                    <label for="destination">Elige destino</label>
                                        <select class="form-control" name="destination" id="destination">
                                            {% for destination in obProduct.destinations %}
                                            <option value="{{destination.id}}">{{destination.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div id="calendar-content" class="form-group col-sm-12">
                                        {% partial 'booking/calendar' obProduct = obProduct %}
                                    </div>
                                    
                                    <input type="hidden" name="id" value="{{obProduct.id}}">
                                     
                                </div>
                                
                                <button type="submit" class="btn btn-filled mb-2">Consultar precio</button>  
                            

                                <div class="row mt-2 result-price-container" id="result-price-container">
                                    
                                </div>
                            </form>
                        </div>
                    </aside>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
</div>