title = "Boat Category"
url = "/categoria/:slug/:q?"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[CategoryPage]
slug = "{{ :slug }}"
slug_required = 1
smart_url_check = 0
has_wildcard = 0
skip_error = 0

[BrandList]

[ProductList]
sorting = "no"

[SearchHandler]
mode = "category"
search_param = "{{ :q }}"
main_page = "busqueda"

[CatalogBreadcrumbs]
==
<?php
function onStart(){

    use Lovata\Shopaholic\Models\Category;

    $this["obCategory"] = $property = Category::where("slug", $this->param('slug'))->first();
    
}


function onEnd(){
  if($this["obCategory"]){
      if($this["obCategory"]->preview_image){
      $image = $this["obCategory"]->preview_image->getPath();
      }else{
      $image = "";
      }
      
      $seo_props =  array(
        "titulo" => "Rentatuyate | ".$this["obCategory"]->name,
        "descripcion" => $this["obCategory"]->preview_text,
        "type" => "article",
        "imagen" => $image,
        "url" => "https://rentatuyate.com/categoria/".$this["obCategory"]->slug,
        "robots" => "index,follow"
    );

      $this["seo_props"] = $seo_props;
  }
}
?>
==
{% set obCategory = CategoryPage.get() %}
{% set arBreadcrumbs = CatalogBreadcrumbs.getByCategoryID(obCategory.id) %}
{% set obProductList = ProductList.make().sort(ProductList.getSorting()).active().category(obCategory.id, true) %} 

{% partial 'breadcrumb' arBreadcrumbs = arBreadcrumbs obCategory = obCategory %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-3">
            {% partial 'filters' obProductList = obProductList base="category" %}
        </div>
        
        <div class="col-md-9" id="result-container">
         {% partial 'products/products-results' obProductList = obProductList page = 1 %}
        </div>
     </div>
</div>