title = "Carrito"
url = "/carrito"
layout = "default"
is_hidden = 0
[UserData]

[BoatBookingHandler]

[BackendUserHandler]
==
<?php
function onStart() {
    $this->addJs(['assets/js/boat/booking.js']);

}
?>
==

{% set obUser = BackendUserHandler.getBackendUser() %}

{% if obUser is null %}
    {% set obUser = UserData.get %}
{% endif %}

{% set organicUser = false %}

{% if obUser.role == null %}
    {% set organicUser = true %}
{% endif %}

{% partial 'breadcrumb' %}

<div class="container cart-page mt-4 mb-4">
    <div class="row">
      <div class="col-md-6">
        {% partial 'booking/booking-resume' %}
      </div>

        <div class="col-md-6">
          {% if obUser is not null %}
          {% partial 'booking/order-form' %}
          {% else %}
          <div class="col-md-12">
            <div class="card card-single text-center">
              <div class="card-body">
                 
                  <h5>Inicia sesión para continuar con el proceso</h5>
                  <p>Tambien puedes <a href="{{'register'|page}}">registrarte</a>, te tomará solo 2 minutos y mantendremos tu carrito</p>
                  <p class="text-center mt-2">
                    
                    <a class="btn-sm btn btn-filled " href="{{'login'|page}}">Iniciar Sesión</a>
                  </p>
              </div>
           </div>
          </div>
          {% endif %}
        </div>
    </div>
    
</div>