title = "contact"
url = "/contacto"
layout = "default"
meta_title = "Contacta con nosotros"
meta_description = "Si tienes alguna duda o sugerencia escríbemos y te ayudaremos de inmediato"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[BoatBookingHandler]

[ContactFormHandler]

[SeoCmsPage]
==
{% set phoneCodes = BoatBookingHandler.getPhoneCodes() %}
<section class="page-feature py-5">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <h1 class=" text-left">Contacto</h1>
            </div>
            <div class="col-md-6">
                <div class="breadcrumb text-right">
                    <a href="{{'index'|staticPage}}"><i class="ti-home"></i> Home</a>
                   
                  
                    <span>/ Contacto</span>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-9 m-auto text-center">
                    <div class="sec-heading">
                        <span class="tagline">Contacta con nosotros</span>
                        <h3 class="sec-title">Si tienes alguna duda, <br>DEJA TU MENSAJE</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <form id="contact-form">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="name">Nombre</label>
                                <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" >
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="lastname">Apellido</label>
                                <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Apellido">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="email">email</label>
                                <input type="email" name="email" class="form-control" id="email" placeholder="Email">
                            </div>
                            {#
                            <div class="form-group col-sm-6">
                                <label for="phone">Número Telefónico</label>
                                <input type="text" class="form-control" id="phone" placeholder="Número Telefónico">
                            </div>
                            #}
                            <div class="form-group col-sm-6">
                                <div class="col col-form-control bootstrap-select-container p-0">
                                    <label >Teléfono</label>
                                    {% set phone =  obUser.phone|split("-") %}
                                    <div class="input-group ">
                                        <div class="input-group-prepend">
                                        
                                            <select class="custom-select" id="country-codes" name="country_code" 
                                            data-live-search="true"  {{organicUser == true ? 'disabled'}}>
                                            {% for codes in phoneCodes %}
                                                {% if phone|length < 2 %}
                                                    <option value="+{{codes.callingCodes[0]}}" {{codes.callingCodes[0] == '58' ? 'selected' }}>+{{codes.callingCodes[0]}}</option>
                                                {% else %}
                                                    <option value="+{{codes.callingCodes[0]}}" {{codes.callingCodes[0] == phone[0] ? 'selected' }}>+{{codes.callingCodes[0]}}</option>
                                                {% endif %}
                        
                                            {% endfor %}
                                            </select>
                                        </div>
                                        <input type="text" class="form-control" value="{{phone[1]}}" name="phone"
                                        placeholder="4141245678" {{organicUser == true ? 'readonly=true'}}>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <label for="message">Tu mensaje</label>
                            <textarea name="message" class="form-control" id="message" placeholder="tu mensaje aquí"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default">Enviar</button>
                    </form>
                </div>
                <div class="col-md-4">
                    <aside class="sidebar">
                        <div class="widget contact-info">
                            <h6 class="widget-title">Horario</h6>
                            <p>Lun – Vie 8:00 am – 5:00 pm</p>
                            <div>
                                <h6>Dirección</h6>
                                <span>Naguanagua, Av. 168 Salvador Feo La Cruz Este-Oeste, Valencia 2005, Carabobo, Venezuela.</span>
                            </div>
                            <div>
                                <h6>Telefonos</h6>
                                <a href="tel:+582418948737">+58 241 894.87.37</a>
                                
                            </div>
                            <div>
                                <h6>Email</h6>
                                <a href="contacto@rentatuyate.com">contacto@rentatuyate.com</a>
                                
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact section end -->

    <!-- Map start -->
    <section class="map-section">        
        <div id="map"> </div>
    </section>