title = "Login"
url = "/login"
layout = "default"
is_hidden = 0

[Login]
mode = "ajax"
flash_on = 1
redirect_on = 1
==
<?php
function onStart() {
  $this["redirectPage"] = $this->param("page")."/".$this->param("redirect");
}
function onEnd() {
  
  $value = Session::get('buddies_user_auth');
  if ($value !== null) {
    return Redirect::to('');
  }
}
?>
==

<section class="banner login-registration">
    <div class="vector-img">
        <img src="http://localhost/rentatuyate/storage/app/media/logos/vector.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6">
                <div class="content-box">
                    <h2>Inicio de sesión</h2>
                   
                </div>
                <form id="login-form" class="sl-form">
                    <div class="form-group mb-0" data-required="true" data-pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
                        <label for="email">Email</label>
                        <input id="email" name="email" type="email" placeholder="example@gmail.com">
                        <div class="errors"></div>
                    </div>
                    <div class="form-group mb-0" data-required="true">
                        <label for="password">Contraseña</label>
                        <input id="password" name="password" type="password" placeholder="Contraseña">
                        <div class="errors"></div>
                    </div>
                    <button class="btn btn-filled btn-round"><span class="bh"></span> <span>Login</span></button>
                    <p class="notice"><a href="{{ 'restore-password'|page }}">¿Olvidaste tu contraseña?</a></p>
                    <p class="notice">¿No tienes una cuenta? <a href="{{ 'register'|page }}">Registro</a></p>
                </form>
            </div>
        </div>
    </div>
</section>