title = "maintenance"
url = "/maintenance"
layout = "maintenance"
is_hidden = 0
==
<nav class="navbar navbar-transparent navbar-fixed-top" role="navigation">  
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!--<ul class="nav navbar-nav">
         <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
                <img src="images/flags/US.png"/>
                English(US) 
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#"><img src="images/flags/DE.png"/> Deutsch</a></li>
                <li><a href="#"><img src="images/flags/GB.png"/> English(UK)</a></li>
                <li><a href="#"><img src="images/flags/FR.png"/> Français</a></li>
                <li><a href="#"><img src="images/flags/RO.png"/> Română</a></li>
                <li><a href="#"><img src="images/flags/IT.png"/> Italiano</a></li>
                
                <li class="divider"></li>
                <li><a href="#"><img src="images/flags/ES.png"/> Español <span class="label label-default">soon</span></a></li>
                <li><a href="#"><img src="images/flags/BR.png"/> Português <span class="label label-default">soon</span></a></li>
                <li><a href="#"><img src="images/flags/JP.png"/> 日本語 <span class="label label-default">soon</span></a></li>
                <li><a href="#"><img src="images/flags/TR.png"/> Türkçe <span class="label label-default">soon</span></a></li>
             
              </ul>
        </li>

      </ul>-->
      <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="https://www.facebook.com/RentaTuYate/"> 
                    <i class="fa fa-facebook-square"></i>
                    Renta tu Yate
                </a>
            </li>
             <li>
                <a href="https://twitter.com/rentatuyate"> 
                    <i class="fa fa-twitter"></i>
                    @rentatuyate
                </a>
            </li>
             <li>
                <a href="https://www.instagram.com/rentatuyate/"> 
                    <i class="fa fa-instagram"></i>
                    Renta tu Yate
                </a>
            </li>
       </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
<div class="main" style="background-image: url('{{"maintenance/custom-2.jpg"|media}}'); background-position: center;">

    
    <div class="cover black" data-color="black"></div>
     


    <div class="container">
        <h1 class="logo cursive">
            Muy Pronto
        </h1>

        
        <div class="content">
            <h4 class="motto">Estamos creando nuestro nuevo y mejorado sistema de reservas</h4>
            
        </div>
    </div>
    <div class="footer">
      <div class="container">
             Powered with <i class="fa fa-heart heart"></i> by <a href="https://www.dictya.com">Dictya.com</a>
      </div>
    </div>
 </div>