title = "Orden"
url = "/orden/:slug?"
layout = "default"
description = "pagina para ordenes"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[form]

[PaymentsHandler]
code = "{{ :slug }}"
type = "slug"

[SeoCmsPage]
==
<?php
function onStart(){
    use Lovata\OrdersShopaholic\Models\Order;
    $this->addJs(['assets/js/boat/booking.js']);
    $slug = $this->param('slug');
    $this["obOrder"] = Order::getBySecretKey($slug)->first();
}

function onEnd(){
    $this->addJs([
     'assets/vendors/jquery.countdown/jquery.countdown.min.js',
     ]);
   
   }
?>
==
{% partial 'breadcrumb' %}

<div class="container cart-page mt-4 mb-4">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-12">
            <h4 class="text-center">Tu Orden N° {{obOrder.order_number}}</h4>
             <p class="text-center mt-1">TOTAL: <b>{{obOrder.total_price}}</b> USD</p>
        </div>
        <div class="col-md-12">
            <div id="created_at" data-date="{{obOrder.getExpirationDate()|date('Y-m-d g:i:s a','America/Caracas')}}" data-created="{{obOrder.created_at|date('Y-m-d g:i:s a','America/Caracas')}}">
                
                <p class="center-align">
                    Tiempo restante para realizar tu pago: 
                    <strong>
                        <span id="clock"></span>
                    </strong>
                </p>
            </div>
        </div>
        {% for obPosition in obOrder.order_charge %}
           
            <div class="card mb-3">
                <div class="row no-gutters">
                   
                  <div class="col-md-4">
                    <img src="{{obPosition.charge.product.preview_image.path}}" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{obPosition.charge.product.name|upper}}</h5>
                      <div class="card-text">
                          <ul>
                              <li><p class="info-item"><b>Destino: </b> {{obPosition.charge.destination.name}}</p></li>
                              <li><p class="info-item"><b>Fecha: </b>
                                  {{obPosition.charge.first_date|date("d-m-y")}} - 
                                  {{obPosition.charge.last_date|date("d-m-y")}}</p></li>
                              <li><p class="info-item"><b>Tipo: </b> {{obPosition.charge.booking_type.name}}</p></li>
                              <li>
                              <p class="info-item"><b>Precio: </b>{{obPosition.charge.price}} USD</p>
                              </li>
                              
                          </ul> 
                      </div>
                          
                    </div>
                  </div>
                </div>
              </div>
        {% endfor %}
        
        </div>

        <div class="col-md-6">
        {% if obOrder.isAvailableToPay() == false %}
        <div class="card text-center">
            
            <div class="card-body">
              <h5 class="card-title">Tu orden se encuentra caducada</h5>
              <p class="card-text">Ya se ha cumplido el plazo para pagar tu orden, si aún
                  te interesa reservar con nosotros escríbenos al chat o realizar una nueva orden
              </p>
              <a href="{{'index'|staticPage}}" class="btn btn-primary">Volver al inicio</a>
            </div>
            
          </div>

        {% else %}

        {% if obOrder.status_id == 1 %}
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#stripe" role="tab" aria-controls="home" aria-selected="true">TARJETA DE CREDITO</a>
          </li>
            <li class="nav-item">
                <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#zelle" role="tab" aria-controls="profile" aria-selected="false">ZELLE</a>
            </li>
          
          </ul>
          <div class="tab-content" id="myTabContent">
          
          <div class="tab-pane fade show" id="stripe" role="tabpanel" aria-labelledby="stripe-tab">
              <div class="card mb-3">
                      
              <div class="card-body">
                  <h6 class="card-title">Aceptamos todas las tarjetas de débito y crédito internacionales.</h6>
               

                  <img src="https://rentatuyate.com/storage/app/media/tdcs-logo.png" class="img-fluid" >
                  
                  <p class="card-text">
                  <form id="payment-form" data-request-validate data-request-flash>                        
                      <div class="form-row">
                          <div class="form-group col-md-12 col-lg-12 placeholder-dark mt-3 mb-3">
                              <label for="exampleInputEmail1" style="color:black;">Nombre y apellido del titular:</label>
                              <input type="text" name="tarjetahabiente" id="tarjetahabiente" class="form-control" placeholder="Ej: Juan Pérez"> 
                          </div>
                          <div class="form-group col-md-12 col-lg-12">
                               <label for="exampleInputEmail1" style="color:black;">Datos de la tarjeta:</label>
                              <div id="card-element" style="border: 1px solid #ccc;
                              border-radius: 4px; padding:4px 4px;"> 
                              <!-- a Stripe Element will be inserted here. -->
                              </div>
  
                          </div>
                          <!-- Used to display form errors -->
  
                          <div id="card-errors" role="alert"></div>
                      </div>
                      <input type="hidden" name="mt" id="mt" value="{{encrypt(obOrder.total_price_value)}}">
                      <input type="hidden" name="ref" id="ref" value="{{obOrder.order_number }}">
                      <input type="hidden" name="orderid" id="orderid" value="{{obOrder.id }}">    
                      <br>
  
                      <p class="text-center">
  
                          <button class="btn btn-primary" id="pay-btn">¡Pagar!</button>
  
                      </p>   
                     
                  </form>
                  <script src='https://js.stripe.com/v3/'></script>
              </div>
               </div>
          </div>
          
            <div class="tab-pane fade show active" id="zelle" role="tabpanel" aria-labelledby="zelle-tab">
            
                <div class="card mb-3">
                    
                    <div class="card-body">
                        
                    {% partial 'order/order-zelle-list' %}

                        <hr>
                        <form id="file-payment-form-usd" class="file-payment-form" data-request-files data-request-validate>

                            <div class="row">

                                <div class="form-group col">

                                    <input placeholder="Escribe aquí nombre de quien envía el pago" id="reference" name="reference" type="text" class="form-control">

                                </div>

                            </div>

                    
                            <div class="row">

                                <div class="form-group col text-center">

                                    <input name="capture" type="file" class="dropify form-control-file" data-max-file-size="10M"

                                    data-allowed-file-extensions="pdf png jpg jpeg" required />

                                </div>

                            </div>

                            <p class="text-center">
                                <button class="btn btn-primary" data-attach-loading >ENVIAR</button>
                            </p>
                            <input type="hidden" name="method_id" value="2">

                            <input type="hidden" name="status_id" value="2">

                            <input type="hidden" name="order_status_id" value="2">

                        </form> 
                    
                        
                    </div>
                </div>
            </div>
          </div>
          {% elseif (obOrder.status_id == 5) %}
          
            {% partial 'order/order-approbed-message' %}

          {% elseif(obOrder.status_id == 2) %}

            {% partial 'order/payment-verification-message' %}

          {% endif %}

        {% endif %}
          
        </div>
    </div>
    
</div>