title = "port-single"
url = "/puerto/:slug"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[ProductList]
sorting = "no"

[SearchHandler]
mode = "query"

[BoatBookingHandler]
==
<?php
function onStart(){
   use Qchsoft\YatchExtension\Models\Port;
   $slug = $this->param('slug');
   $this["port"] = Port::getBySlug($slug)->first();
}

function onEnd(){
  if($this["port"]){
      if($this["port"]->preview_image){
      $image = $this["port"]->preview_image->getPath();
      }else{
      $image = "";
      }
      
      $seo_props =  array(
        "titulo" => "Rentatuyate | Embarcaciones en ".$this["port"]->name,
        "descripcion" => $this["port"]->preview_text,
        "type" => "article",
        "imagen" => $image,
        "url" => "https://rentatuyate.com/port/".$this["port"]->slug,
        "robots" => "index,follow"
    );

      $this["seo_props"] = $seo_props;
  }
}
?>
==
{% set obProductList = ProductList.make().getByPort(port.id).active() %}

<section class="page-feature py-5">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <h1 class=" text-left">{{port.name}}</h1>
            </div>
            <div class="col-md-6">
                <div class="breadcrumb text-right">
                    <a href="{{'index'|staticPage}}"><i class="ti-home"></i> Home</a>
                    <a href="{{ 'ports'|page }}">/ Puertos</a>
                  
                    <span>/ {{ port.name }}</span>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-3">
            {% partial 'filters' obProductList = obProductList base="port" port = port %}
        </div>
        
        <div class="col-md-9" id="result-container">
         {% partial 'products/products-results' obProductList = obProductList page = 1 %}
        </div>
    </div>
    
</div>