title = "Profile"
url = "/perfil"
layout = "default"
is_hidden = 0

[UserData]

[UserPage]
slug = "{{ :slug }}"
slug_required = 0
mode = "ajax"
redirect_on = 1
redirect_page = "profile"

[ChangePassword]
slug = "{{ :slug }}"
slug_required = 0
==
{% set obUser = UserData.get %}
<section class="login-registration">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-8">
                <div class="content-box">
                    <h2>Perfil</h2>
                    {{ arForm.email }}
                </div>
                <form id="user-data-form" class="sl-form">
                    <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-0" data-required="true" data-pattern="^[a-zA-Z\s]*$">
                        <label for="name">Nombre</label>
                        <input id="name" name="name" type="text" placeholder="John" value="{{obUser.name}}">
                        <div class="errors"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-0" data-required="true" data-pattern="^[a-zA-Z\s]*$">
                        <label for="last_name">Apellido</label>
                        <input id="last_name" name="last_name" type="text" placeholder="Doe" value="{{obUser.last_name}}">
                        <div class="errors"></div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-0" data-required="true" data-pattern="\(?\+[0-9]{1,3}\)? ?-?[0-9]{1,3} ?-?[0-9]{3,5} ?-?[0-9]{4}( ?-?[0-9]{3})?">
                        <div class="form-group">
                        <label for="phone">Teléfono</label>
                        <input id="phone" name="phone" type="text" placeholder="+584244329423" value="{{obUser.phone}}">
                        <div class="errors"></div>
                    </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-0" data-required="true" data-pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
                        <label for="email">Correo electrónico</label>
                        <input id="email" name="email" type="email" placeholder="example@gmail.com" value="{{obUser.email}}">
                        <div class="errors"></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-filled btn-round" type="submit">Guardar</button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12">
                <div class="content-box">
                <h2>Camibar contraseña</h2>
                </div>
                <form id="change-password-form" class="sl-form">
                <div class="row">
                    <div class="col-md-4">
                    <div class="form-group mb-0" data-required="true">
                        <label for="old_password">Contraseña actual</label>
                        <input id="old_password" name="old_password" type="password" placeholder="">
                        <div class="errors"></div>
                    </div>
                    </div>
                    <div class="col-md-4">
                    <div class="form-group mb-0" data-required="true">
                        <label for="password">Nueva contraseña</label>
                        <input id="password" name="password" type="password" placeholder="">
                        <div class="errors"></div>
                    </div>
                    </div>
                    <div class="col-md-4">
                    <div class="form-group mb-0" data-required="true">
                        <label for="password_confirmation">Confirmar nueva contraseña</label>
                        <input id="password_confirmation" name="password_confirmation" type="password" placeholder="">
                        <div class="errors"></div>
                    </div>
                    </div>
                    <div class="col-12">
                    <button class="btn btn-filled btn-round" type="submit">Guardar</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</section>