title = "register"
url = "/registro"
layout = "default"
meta_title = "Registro de Usuario"
meta_description = "¡Regístrate con nosotros para empezar a alquilar embarcaciones al instante!"
is_hidden = 0
seo_keywords = "registros, alquiler de lanchas, alquiler de yates, morrocoy, falcón chichiriviche"
canonical_url = "https://rentatuyate.com/registro"
robot_index = "index"
robot_follow = "follow"

[Registration]
mode = "ajax"
flash_on = 0
redirect_on = 1
redirect_page = "index"
activation = "activation_on"
force_login = 1

[BoatBookingHandler]
==
<?php
function onEnd(){
  $value = Session::get('buddies_user_auth');
}
?>
==
{% set phoneCodes = BoatBookingHandler.getPhoneCodes() %}
<section class="banner login-registration">
    <div class="vector-img">
        <img src="http://localhost/rentatuyate/storage/app/media/logos/vector.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6">
                <div class="content-box">
                    <h2>Registro</h2>
                   
                </div>
                <form id="register-form" >
                    <div class="form-group mb-0" data-required="true" data-pattern="^[a-zA-Z\s]*$">
                        <label for="name">Nombre</label>
                        <input id="name" class="form-control" name="name" type="text" placeholder="John">
                        <div class="errors"></div>
                    </div>
                    <div class="form-group mb-0" data-required="true" data-pattern="^[a-zA-Z\s]*$">
                        <label for="last_name">Apellido</label>
                        <input id="last_name" class="form-control" name="last_name" type="text" placeholder="Doe">
                        <div class="errors"></div>
                    </div>
                    {#<div class="form-group mb-0" data-required="true" data-pattern="\(?\+[0-9]{1,3}\)? ?-?[0-9]{1,3} ?-?[0-9]{3,5} ?-?[0-9]{4}( ?-?[0-9]{3})?">
                        <label for="phone">Teléfono</label>
                        <input id="phone" name="phone" type="text" class="form-control" placeholder="+584244329423">
                        <div class="errors"></div>
                    </div>#}
                    <div class="col col-form-control bootstrap-select-container p-0"
                    data-pattern="\(?\+[0-9]{1,3}\)? ?-?[0-9]{1,3} ?-?[0-9]{3,5} ?-?[0-9]{4}( ?-?[0-9]{3})?">
                        <label >Teléfono</label>
                        {% set phone =  obUser.phone|split("-") %}
                        <div class="input-group ">
                            <div class="input-group-prepend">
                            
                                <select class="custom-select" id="country-codes" name="country_code" 
                                data-live-search="true"  {{organicUser == true ? 'disabled'}}>
                                  {% for codes in phoneCodes %}
                                    {% if phone|length < 2 %}
                                        <option value="+{{codes.callingCodes[0]}}" {{codes.callingCodes[0] == '58' ? 'selected' }}>+{{codes.callingCodes[0]}}</option>
                                    {% else %}
                                        <option value="+{{codes.callingCodes[0]}}" {{codes.callingCodes[0] == phone[0] ? 'selected' }}>+{{codes.callingCodes[0]}}</option>
                                    {% endif %}
            
                                  {% endfor %}
                                  </select>
                            </div>
                            <input type="text" class="form-control" value="{{phone[1]}}" name="phone"
                             placeholder="4141245678" {{organicUser == true ? 'readonly=true'}}>
                          </div>
                          <div class="errors"></div>
                    </div>
                    <div class="col col-form-control p-0 pb-4">
                        <label >Documento de identidad</label>
                
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <select class="custom-select" name="document_code">
                                    <option value="V">V</option>
                                    <option value="E">E</option>
                                    <option value="P">P</option>
                                    <option value="J">J</option>
                                  </select>
                            </div>
                            <input type="text" class="form-control" name="document"
                             placeholder="Ej: 123456">
                          </div>
                    </div>
                    <div class="form-group mb-0 pt-1" data-required="true" data-pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
                        <label for="email">Correo electrónico</label>
                        <input id="email" class="form-control" name="email" type="email" placeholder="example@gmail.com">
                        <div class="errors"></div>
                    </div>
                    <div class="form-group mb-0" data-required="true">
                        <label for="password">Contraseña</label>
                        <input id="password" class="form-control" name="password" type="password" placeholder="Password">
                        <div class="errors"></div>
                    </div>
                    <div class="form-group mb-0" data-required="true">
                        <label for="password_confirmation">Confirmar contraseña</label>
                        <input id="password_confirmation" class="form-control" name="password_confirmation" type="password" placeholder="Password">
                        <div class="errors"></div>
                    </div>
                    <button class="btn btn-filled btn-round" type="submit">Registrarse</button>
                    <p class="notice">¿Ya tienes una cuenta? <a href="{{'login'|page}}">Inicia sesión</a></p>
                </form>
            </div>
        </div>
    </div>
</section>