title = "Reset password"
url = "/restablecer-contrasena"
layout = "default"
is_hidden = 0

[ResetPassword]
slug = "{{ :slug }}"
slug_required = 0
redirect_on = 1
redirect_page = "login"
==
<section class="login-registration">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6">
                <div class="content-box">
                    <h2>Restablecer contraseña</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sedo<br> eiusmod tempor incididunt dolore.</p>
                </div>
                <form id="reset-password-form" class="sl-form">
                    <div class="form-group mb-0" data-required="true">
                        <label for="password">Contraseña</label>
                        <input id="password" type="password" placeholder="">
                        <div class="errors"></div>
                    </div>
                    <div class="form-group mb-0" data-required="true">
                        <label for="password_confirmation">Repetir contraseña</label>
                        <input id="password_confirmation" type="password" placeholder="">
                        <div class="errors"></div>
                    </div>
                    <button class="btn btn-filled btn-round"><span class="bh"></span> <span>Restablecer</span></button>
                </form>
            </div>
        </div>
    </div>
</section>