title = "Restore password"
url = "/recuperar-contrasena"
layout = "default"
is_hidden = 0

[RestorePassword]
mode = "ajax"
==
<section class="login-registration">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6">
                <div class="content-box">
                    <h2>Recuperar contraseña</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sedo<br> eiusmod tempor incididunt dolore.</p>
                </div>
                <form id="restore-password-form" class="sl-form">
                    <div class="form-group mb-0" data-required="true" data-pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
                        <label for="email">Email</label>
                        <input id="email" name="email" type="email" placeholder="example@gmail.com">
                        <div class="errors"></div>
                    </div>
                    <button class="btn btn-filled btn-round"><span class="bh"></span> <span>Recuperar</span></button>
                    <p class="notice">Don’t have an account? <a href="{{ 'register'|page }}">Signup Now</a></p>
                </form>
            </div>
        </div>
    </div>
</section>