title = "search"
url = "/busqueda/:q"
layout = "default"
meta_title = "Busqueda"
meta_description = "Busqueda de embarcaciones disponibles en Venezuela"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[SearchHandler]
mode = "query"
search_param = "{{ :q }}"

[SeoCmsPage]
==

<section class="page-feature py-5">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <div class="d-block d-sm-none">
                    <h1 class=" text-center ">Busqueda</h1>
                </div>
               
            </div>
            
        </div>
    </div>
</section>

<div class="container-fluid mt-4" >
    {% partial 'main-search-form' %}
</div>
<div class="container-fluid mt-4" id="search-page-container">
    <div class="row">
        
        <div class="invisible" id="page-filter">
            {% partial 'filters' obProductList = obProductList base="busqueda" %}
        </div>
         
        {% set test = SearchHandler.getSearchParam() %}
        <div class="col-md-12" id="result-container">
         {% partial 'products/products-results' obProductList = obProductList page = 1 %}
        </div>
     </div>
</div>