<h5 class="card-title">Sígue los siguientes pasos</h5>
    <ul class="card-text">

        <li>Entra en tu banco</li>

        <li>
            Realiza tu Zelle con los siguientes datos
        </li>

        <li>
            Adjunta tu captura o comprobante de pago en el cuadro de abajo e indica
            el nombre de quien envía el pago
        </li>
        <li>
        <p class="text-center mt-2">Luego haz click en el boton <strong>ENVIAR</strong></p>
        </li>
                        
        <hr>
        <p class="text-center">Bank of America - 
        
            <strong class="font-weight-900">rentatuyate@gmail.com - 
            Elias Rojas</strong>
        
        </p>
    </ul>