<div class="col-md-12">
    <div class="card card-single text-center">
      <div class="card-body">
         
          <h6>Tú orden ha sido pagada correctamente</h6>
          <small>Te esperamos próximamente para que disfrutes tu paseo</small>
          <p class="text-center">
            <a class="btn btn-primary" href="{{'index'|staticPage}}">Volver al inicio</a>
          </p>
      </div>
   </div>
</div>