<div class="col-md-12">
    <div class="card card-single text-center">
      <div class="card-body">
         
          <h6>Estamos verificando tu pago</h6>
          <small>Una vez hayas comprobemos tu pago recibirás confirmación del mismo en tu email</small>
          <p class="text-center">
            <a class="btn btn-primary" href="{{'index'|staticPage}}">Volver al inicio</a>
          </p>
      </div>
   </div>
  </div>