[viewBag]
snippetCode = "products-by-external-id"
snippetName = "Products by External ID"
snippetProperties[codes][title] = "External ID's"
snippetProperties[codes][type] = "string"
snippetProperties[codes][default] = ""
snippetProperties[codes][options][] = ""

[ProductList]
sorting = "no"
==
{% component 'ProductList' %}

{% set spaceLess = codes|replace({' ': ''}) %}

{% set arExternalCodes = spaceLess|split(',') %}

{% set obProductList = ProductList.make().getByExternalId(arExternalCodes).active() %}
    

     <!--  owl-carousel owl-theme owl-carousel-4 -->
{% for obProduct in obProductList %}
   
   {% set obOffer = obProduct.offer.first() %}
      <div class="col-lg-4 col-md-6">
         <div class="single-course">
             <figure class="course-thumb">
                <a href="{{ 'boat-single'|page({slug: obProduct.slug }) }}">
                 <img src="{{obProduct.preview_image.thumb(300,200,{'mode':'crop' })}}" alt="">
                </a>
                 <strong class="ribbon">{{ obOffer.currency }}{{ obOffer.price  }} {{obOffer.getActiveCurrency()}} </strong>

                 <div class="info-area">
                    {% set obModel = obProduct.getObject() %}
                    <ul>
                        <li>
                            <a href="#" class="sell">VENTA</a>
                        </li>
                        {% if obModel.calendars.length > 0 %}
                        <li>
                            <a href="#" class="rent">Alquiler</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
             </figure>
             <div class="course-content">
                 <h3><a href="{{ 'boat-single'|page({slug: obProduct.slug }) }}">{{obProduct.name}}</a></h3>
                 <hr class="my-2">
                 <dl class="row m-0">
                     <dt class="product-item-part col-xs-5">Tamaño</dt>
                     <dd class="col-xs-7">{{obProduct.length}}</dd>
                     <dt class="product-item-part col-xs-5">Año del casco</dt>
                     <dd class="col-xs-7">
                        {{obProduct.hull_year}} </dd>
                     <dt class="product-item-part col-xs-5">Modelo</dt>
                     <dd class="col-xs-7">{{obProduct.model}}</dd>
                 </dl>
             </div>
         </div>
      </div>
{% endfor %}