[viewBag]

[Pagination]
count_per_page = 9
pagination_limit = 5
active_class = "active"
first_button_name = "First"
first_button_limit = 1
first-more_button_name = "..."
first-more_button_limit = 1
prev_button_name = "Prev"
prev_button_limit = 1
prev-more_button_name = "..."
prev-more_button_limit = 1
next-more_button_name = "..."
next-more_button_limit = 1
next_button_name = "Next"
next_button_limit = 1
last-more_button_name = "..."
last-more_button_limit = 1
last_button_name = "Last"
last_button_limit = 1
==
{% set pagination = Pagination.get(page, obProductList.count) %}

{% set arProductList = obProductList.active().hasOffers().page(page, Pagination.getCountPerPage()) %}
        
<div class="row">
    {% if arProductList == null %}
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="entry-content text-center">
                    <h3 >No Hemos encontrado resultados a tu busqueda</h3>
                    <p>
                        Modifica los parametros de busqueda y vuelve a intentarlo
                    </p>
                </div>
            </div>
          </div>
        
    </div>
    {% else %}
        {% for obProduct in arProductList %}

        {% if searchParams["searchType"]=="renta" %}
        
            <div class="col-md-4 mb-3">
                <div class="post-item">
                    <a href="{{ 'boat-single'|page({slug: obProduct.slug }) }}"> 
                        <img src="{{obProduct.preview_image.thumb(300,200,{'mode':'crop' })}}" alt="{{obProduct.name}}">
                    </a>    
                    <strong class="ribbon">120 </strong>
                    {# {{ obProduct.minPrice(searchParams)  }} #}
                    <div class="post-content">
                        <div class="meta-tags">
                            
                        </div>
                        <h3 class="post-title text-center"><a href="{{ 'boat-single'|page({slug: obProduct.slug }) }}">{{obProduct.name}}</a></h3>
                        <div class="meta-tags">
                            <ul>
                                <li>
                                    <span class="post-meta category">
                                    <i class="ti-money"></i> Desde : <strong>{{obProduct.minPrice(searchParams)}} USD</strong>
                                </span>
                                </li> 
                                <li>
                                    <span class="post-meta category">
                                    <i class="ti-anchor"></i> Ubicación: <strong>{{obProduct.port.name}}</strong>
                                </span>
                                </li>
                                <li>
                                    <span class="post-meta"><i class="ti-user"></i>{{obProduct.capacity}}</span>
                                </li>
                                {#
                                <li>
                                    <span class="post-meta"><i class=" ti-location-pin"></i>Destinos disponibles:</span>
                                </li>
                                {% for destination in obProduct.destinations %}
                                <li><span>{{destination.name}}</span></li>
                                {% endfor %}
                                #}
                            </ul>
                               
                            
                        </div>
                    </div>
                </div>
            </div>
       
            
    
        {% else %}

        {% set obOffer = getFirstAvailableOffer(obProduct) %}
        <div class="col-lg-4 col-md-6">
            <div class="single-course">
                <figure class="course-thumb">
                    <img src="{{obProduct.preview_image.thumb(300,200,{'mode':'crop' })}}" alt="{{obProduct.name}}">
                    {% if (searchParams["searchType"]=="renta") %}
                    
                    
                    {% else %}
                    <strong class="ribbon">{{ obOffer.currency }}{{ obOffer.price  }} {{obOffer.getActiveCurrency()}} </strong>
                    
                    {% endif %}
                    <div class="info-area">
                        {% set obModel = obProduct.getObject() %}
                        <ul>
                            <li>
                                <a href="#" class="sell">VENTA</a>
                            </li>
                            {% if obModel.calendars|length  > 0 %}
                            <li>
                                <a href="#" class="rent">Alquiler</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </figure>
                <div class="course-content">
                    <h3><a href="{{ 'boat-single'|page({slug: obProduct.slug }) }}">{{obProduct.name}}</a></h3>
                    <hr class="my-2">
                    <dl class="row m-0">
                        <dt class="product-item-part col-xs-5">Capacidad</dt>
                        <dd class="col-xs-7">
                            {{obProduct.capacity}} personas
                        </dd>
                        <dt class="product-item-part col-xs-5">Puerto</dt>
                        <dd class="col-xs-7">{{obProduct.port.name}}</dd>
                        <dt class="product-item-part col-xs-6">Modelo</dt>
                        <dd class="col-xs-6">{{obProduct.model}}</dd>
                        <dt class="product-item-part col-xs-6">Tamaño</dt>
                        <dd class="col-xs-6">{{obProduct.length}} Pies</dd>
                    </dl>
                </div>
            </div>
        </div>
        {% endif %}

        
        {% endfor %}


        <div class="col-md-12">
            <div class="pagination mt-0 mb-3"> 
                {% for pageItem in pagination %}
                    {% if loop.first %}
    
                        <a href="#!" class="{{pageItem.class != null ? 'disabled' : 'pagination-control'}}" data-value="{{pageItem.value - 1}}">
                            Anterior
                        </a>
                    
                    {% endif %}
                    
                        <a href="#!" class="pagination-control" data-value="{{pageItem.value}}">
                            {{pageItem.name}}
                        </a>
                
                    {% if loop.last %}
                
                        <a href="#!" class="{{pageItem.class != null ? 'disabled': 'pagination-control'}}" data-value="{{page + 1}}">
                            Siguiente
                        </a>
                
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    
</div>