[viewBag]
snippetCode = "product-by-category"
snippetName = "products by category"
snippetProperties[id][title] = "category id"
snippetProperties[id][type] = "string"
snippetProperties[id][default] = ""
snippetProperties[id][options][] = ""
snippetProperties[quantity][title] = "quantity"
snippetProperties[quantity][type] = "string"
snippetProperties[quantity][default] = ""
snippetProperties[quantity][options][] = ""

[ProductList]
sorting = "no"
==
{% component 'ProductList' %}

{% set obProductList = ProductList.make().sort("new").category(id).active().take(quantity) %}    

<div class="row">
     
      <div class="owl-carousel owl-theme owl-carousel-4">
      {% for obProduct in obProductList %}
   
      {% set obOffer = obProduct.offer.first() %}
         <div class="col s12 m12 l12">
            <div class="card animate fadeLeft">
               {% if obOffer.old_price > 0 %}
               <div class="card-badge"><a class="white-text"> <b>Oferta</b> </a></div>
               {% endif %}
               
               <div class="card-content">
                  <p class="font-weight-900">{{obProduct.category.name}}</p>
                  <span class="card-title text-ellipsis blue-text text-lighten-1">{{obProduct.name}}</span>
                  <img src="{{obProduct.preview_image.path}}" class="responsive-img" alt="{{obProduct.name}}">
                  <div class="row">
                     
                     {% if obOffer.isNotEmpty()%}  
                     {% if obOffer.old_price > 0 %}
                        <p class="col s12 m12 l12 mt-3 prise-text-style center-align">
                           {{ obOffer.currency }}{{ obOffer.old_price  }} {{obOffer.getActiveCurrency()}}  
                        </p>
                        {% endif%}
                        <p class="col s12 m12 l12 mt-3 center-align {{ obOffer.old_price_value > 0 ? 'red-text'}}">
                           
                              {{ obOffer.currency }}{{ obOffer.price  }} {{obOffer.getActiveCurrency()}}    
                        </p>
                        <a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-indigo-blue btn product-trigger"
                        data-product-id="{{obProduct.id}}">
                           VER
                        </a>
                     {% else %}
                     no disp. 
                     {% endif %}
                  </div>
               </div>
            </div>
         </div>
      {% endfor %}
      </div>

     
   </div>