description = "destination cards"

[viewBag]
snippetCode = "destination-cards"
snippetName = "destination cards"
==
<?php
function onStart(){

  use Carbon\Carbon;
  $dates = "";

  $today = new Carbon();
  $endDate = new Carbon();
  $endDate->addDays(7);
  $dates = $today->format("d-m-Y")."+-+".$endDate->format("d-m-Y");

  $this["dates"] = $dates;

  
}
?>
==
<section class="blog">
<div class="row">
				<div class="col-lg-6 col-md-9 m-auto text-center">
					<div class="sec-heading">

						<h3 class="sec-title">Visita nuestros destinos</h3>
					</div></div></div>
    <div class="card-deck">
  <div class="card">
    <a href="{{'search'|page({q:'q?searchType=renta&category=con-camarote&port=all&destination=los-roques&dates='~dates})}}">
      <img class="card-img-top" src="https://rentatuyate.com/storage/app/media/destinations/los-roques.jpeg" alt="Card image cap">
    </a>
    <div class="card-body">
      <a href="{{'search'|page({q:'q?searchType=renta&category=con-camarote&port=all&destination=los-roques&dates='~dates})}}">
        <h5 class="card-title text-center">Yates en los Roques</h5>
      </a>
    </div>
  </div>
  
  <div class="card">
    <a href="{{'search'|page({q:'q?searchType=renta&category=sin-camarote&port=all&destination=morrocoy&dates='~dates})}}">
      <img class="card-img-top" src="https://rentatuyate.com/storage/app/media/destinations/morrocoy.jpeg" alt="Card image cap">
    </a>
    <div class="card-body">

      <a href="{{'search'|page({q:'q?searchType=renta&category=sin-camarote&port=all&destination=parque-nacional-morrocoy&dates='~dates})}}">
        <h5 class="card-title text-center">Lanchas en Morrocoy</h5>
      </a>
      
    </div>
  </div>

  <div class="card">
    <a href="{{'search'|page({q:'q?searchType=renta&category=all&port=all&destination=isla-larga&dates='~dates})}}">
      <img class="card-img-top" src="https://rentatuyate.com/storage/app/media/destinations/isla-larga.jpeg" alt="Isla Larga">
    </a>
    <div class="card-body">
      
      <a href="{{'search'|page({q:'q?searchType=renta&category=all&port=all&destination=isla-larga&dates='~dates})}}">
        <h5 class="card-title text-center">Paseos en Isla Larga</h5>
      </a>
    </div>
  </div>
</section>



</div>