description = "ports home"

[viewBag]
snippetCode = "ports-home"
snippetName = "Ports"
==
<?php
function onStart()
{
    use Qchsoft\YatchExtension\Models\Port;

    $this['ports'] = Port::whereIn("code", ["morrocoy", "pto-lacruz", "pto-cabello"])->get();

}
?>
==
<section class="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-9 m-auto text-center">
                    <div class="sec-heading">
                        <span class="tagline">Lanchas y Yates</span>
                        <h3 class="sec-title">En los mejores destinos</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for port in ports %}
                <div class="col-md-4">
                    <div class="post-item">
                        <a href="{{ 'port-single'|page({slug: port.slug }, false) }}">
                        <img src="{{port.preview_image.path}}" class="img-fluid" alt="{{port.name}}">
                        </a>
                        <div class="post-content">
                            
                            <h3 class="post-title"><a href="{{ 'port-single'|page({slug: port.slug }, false) }}">{{port.name}}</a></h3>
                            <div class="meta-tags">
                                <a href="{{ 'port-single'|page({slug: port.slug }, false) }}" class="post-meta commentCount"><i class="flaticon-yacht-1"></i>{{port.products.count}} Embarcaciones</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>