description = "slider home"

[viewBag]
snippetCode = "slider-home"
snippetName = "Slider Home"

[slideshow]
slideshow = 2
numberOfSlide = 5
==
<!-- Banner start -->
{#
{% if slideshow.slideshow.slides %}

   
{% endif %}
    
    
    {% if slideshow.slideshow.slides %}


    <section class="banner v2">
        <div class=" owl-carousel hero-slider">
            {% for i, slide in slideshow.slideshow.slides %}
            <div class="item" style="background-image: url('{{ slide.image.path }}');">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-7">
                            <div class="banner-content">
                                {{slide.description|raw}}
                                
                                <h2><span>Yacht</span> Company World's</h2>
                                <p>Can'their wherein own upon female without saying made in second the male Own you. Him fill good seasons hath</p>
                                <a href="#" class="btn btn-default">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    {% endif %}
#}

<section class="banner v2">
    <div class=" owl-carousel hero-slider">
        <div class="item" style="background-image: url('https://rentatuyate.com/storage/app/media/banners/web-1900x901.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7">
                        <div class="banner-content">
                            <h2><span>A bordo</span> Contigo</h2>
                            <p>Renta y compra las mejores lanchas y los más lujosos yates.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>